<ul id="wb-tphp">



  {%if current_lang == "fr" %}
  <li class="wb-slc"><a class="wb-sl" href="#wb-cont">{{ _('Passer au contenu principal') }}</a></li>
  <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-info">{{ _('Passer à « À propos de ce site »') }}</a></li>
  {% else %}
  <li class="wb-slc"><a class="wb-sl" href="#wb-cont">{{ _('Skip to main content') }}</a></li>
  <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-info">{{ _('Skip to site information') }}</a></li>
  {% endif %}
</ul>