[role=main] {
  min-height: 546px;
}


.aafc-container {
    color: rgb(40, 40, 40);
    margin-right: auto;
    margin-left: auto;
    clear: both;
    padding-top:20px;
    width:670px;
}


/* Adjuct row top space */
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top60 { margin-top:60px; }
.top90 { margin-top:90px; }
.top120 { margin-top:120px; }


.account-masthead {
    background-color: rgb(40, 40, 40);
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: #888888;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.6);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: black;
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  color: #000;
  background-color: #fff;
  background-image: none;
}
.masthead a {
    color: #000;
}

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  color: #000;
  text-shadow: none;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: white;
  color: black;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(214, 214, 214);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.masthead .logo img {
    max-height: 30px;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
  background-color: transparent;
  color:#fff;
}
.box a{
  color:#fff;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.aafc-back .box {
  border: none;
}
.main-browse {
  background-color: #fff;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: rgba(0,0,0,0);
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
 /* padding-bottom: 0px;*/
}
.homepage .module-search {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 3px solid rgb(204, 204, 204);
}

.homepage .stats ul a:hover{
  text-decoration:none;
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: rgb(59, 155, 0);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}


.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  color:#fff;
  background-color:rgb(38, 55, 74);
}
/*! WET-BOEW Core and Plugins */
/*
  WET-BOEW
  @title: Accessibility Additions to WET-BOEW
 */
 #wb-tphp {
  list-style-type: none;
  margin-bottom: 0; }

.wb-slc {
  left: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  z-index: 3; }

.wb-sl {
  padding: 5px;
  z-index: 501; }

.wb-disable #wb-tphp {
  background: #fff; }

.wb-disable .wb-slc {
  position: static; }
  .wb-disable .wb-slc .wb-sl {
    background: none;
    color: #295376;
    display: block !important;
    font-weight: 400; }
    .wb-disable .wb-slc .wb-sl:hover, .wb-disable .wb-slc .wb-sl:focus {
      color: #0535d2; }

.wb-disable #wb-dtmd {
  float: none !important; }

q:before, q:after {
  content: ""; }

/*
  WET-BOEW
  @title: Breadcrumb CSS
 */
#wb-bc ol {
  border-radius: 0;
  margin-bottom: 0; }

#wb-bc li {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  #wb-bc li:before {
    color: #333;
    content: ">";
    font-family: "Glyphicons Halflings";
    font-size: 0.7em; }

[dir=rtl] #wb-bc li:before {
  content: "<";
  display: inline-block; }

/*
  WET-BOEW
  @title: Language selector
 */
.wb-lng-lnks-rtl:after {
  clear: both;
  content: "";
  display: table; }

.wb-lng-lnks-horiz .wb-lng-lnk {
  display: inline-block; }

.wb-lng-lnks-vert .wb-lng-lnk {
  display: block; }

.wb-lng-lnks-rtl .wb-lng-lnk {
  float: right; }

#wb-so {
  text-align: right; }
  #wb-so .row {
    padding: 1em 0 0; }

/*
  WET-BOEW
  @title: Ellipsis
 */
.wb-elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.empty {
  color: #080808;
  font-style: italic;
}  
