.modal-content {
    background: fff; }
/********** CDTS fixes file **********/
/********** Follow the correct format and link to Github issue for info **********/


/********** AJOUTÉ PAR Stéphane Ducharme le 2019-08-014 **********/
/********** fix issue 101 GCWeb: Transactional: Error menu bar  **********/
.transactBar {
	border-top: 3px solid #38414d;
	margin-top: 5px;
}
/********** AJOUTÉ PAR Stéphane Ducharme LE 2019/08/13 **********/
/********** Date modified/Screen identifier/Version **********/
/* Pour ajuster le splashpage */

.cdts-splash {
	font-size: .5em;
}

@media (min-width: 768) {
	.cdts-splash {
		font-size: .6em;
	} 
}

@media (min-width: 992) {
	.cdts-splash {
		font-size: .7em;
	} 
}

@media (min-width: 1200px) {
	.cdts-splash {
		font-size: .8em;
	} 
}

/********** AJOUTÉ PAR NICK LE 2017/08/31 **********/
/********** Date modified/Screen identifier/Version **********/
#wb-dtmd dt, #wb-dtmd dd {
	float: left
}

#wb-dtmd dt {
	clear: both
}

#wb-dtmd dd {
	margin-left: 5px
}

/********** AJOUTÉ PAR NICK LE 2017/08/25 **********/
/********** Barre bleue qui remplace le menu en transactional et espace gris avant le footer **********/
#wb-sm {
	min-height: 55px;
}

/* Fix to secondary nav to clear date modified */

@media (max-width: 991px) {
	#wb-sec {
		clear: both;
	}
}


.empty {
	color: #080808;
	font-style: italic;
  }  
  

 