{% ckan_extends %}
<!--CKANEXT-aafc VERSION 1.0    -->


{% block title %}
    {% block subtitle %}{% endblock %}
    {% if self.subtitle()|trim %}
      {{ g.template_title_delimiter }} {{ _('Agriculture and Agri-Food Canada') }}
    {% else %}
      {{ _('Living Labs data portal') }} {{ g.template_title_delimiter }} {{ _('Agriculture and Agri-Food Canada') }}
    {% endif %}
{% endblock %}


<!--template/base.html start-->
{% block meta %}
  {{ super() }}

  {% set current_lang = request.environ.CKAN_LANG %}
  {%if current_lang == "fr" %}
    <meta property="dcterms:title" content="Portail de données des labs vivants" >
    <meta content="fra" property="dcterms:language" title="ISO639-2">
    <meta content="Agriculture et Agroalimentaire Canada" property="dcterms:creator">
    <meta content="technologie agricole, environnement, recherche scientifique" property="dcterms:subject" title="gccore">
  {% else %}
    <meta property="dcterms:title" content="Living Labs Data Portal" >
    <meta content="eng" property="dcterms:language" title="ISO639-2">
    <meta content="Agriculture and Agri-Food Canada" property="dcterms:creator">
    <meta content="agricultural technology, environment, scientific research" property="dcterms:subject" title="gccore">
  {% endif %}
  <meta content="2019-03-15" property="dcterms:issued" title="W3CDTF">
  <meta content="2022-12-22" property="dcterms:modified" title="W3CDTF">
 
{% endblock %}

{% block links %}
  <link href="{{ h.url_for_static('./GCWeb/assets/favicon.ico') }}" rel="icon" type="image/x-icon">
{% endblock %}

{% block styles %}
  {{ super() }}

  {% asset 'aafc/aafc_css' %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" media="all" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/v4-shims.min.css" media="all" rel="stylesheet">
  <link href="https://ka-f.fontawesome.com/releases/v5.14.0/css/free-v4-font-face.min.css" media="all" rel="stylesheet">
  <link rel="stylesheet" href="{{ h.url_for_static('./GCWeb/css/theme.min.css') }}" media="all" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ h.url_for_static('./GCWeb/css/wet-boew.min.css') }}" media="all" rel="stylesheet">
  <link rel="stylesheet" href="{{ h.url_for_static('./GCWeb/css/messages.min.css') }}" media="all" rel="stylesheet">  
  <link rel="stylesheet" href="{{ h.url_for_static('./css/aafc2.css') }}" media="all" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ h.url_for_static('./css/ckanoverride.css') }}" media="all" rel="stylesheet">


  {% asset 'aafc/aafc_js' %}
  <script id="extjq" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

  <script>
    // note: preferred method would be to somehow set this metadata property using CKAN code
    window.onload = function() { // can also use window.addEventListener('load', (event) => {
      pageTitle = (document.title).split("-");
      document.head.querySelector('meta[property="dcterms:title"]').setAttribute("content", pageTitle[0].trim());
    };
  </script>

  <script>
    function myFunction(x) {
      if (x.matches) { // If media query matches
        var d = document.getElementsByClassName("breadcrumb");

        if (d[0] != null) {
          len = d[0].children.length;
          //iterate over <li> then first <a> of each <li>
          for (i = 0; i < len; i++) {
            d[0].children[i].children[0].style.color = '#000000';
          }
        }
      } else {}
    }

    var x = window.matchMedia("(max-width: 700px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
  </script>

{% endblock %}

