{% ckan_extends %}

{% block page_heading %}
  {{ _('Error Messages') }}
{% endblock %}

{% block primary %}
  <article class="module" id="wb-cont">
    <div class="module-content">
      {% if name %}
      <h2 class="h2-error-name">{{ code }} {{ name }}</h2>
      {% endif %}
      {{ content }}
    </div>
  </article>
{% endblock %}
