{% block footer %}

<div id="cdts-def-footer">
	{% set current_lang = request.environ.CKAN_LANG %}
	{%if current_lang == "en" %}
	<footer id="wb-info">
	<div class="brand">
		<div class="container">
			<div class="row">
				<nav class="col-md-10 ftr-urlt-lnk">
					<h2 class="wb-inv">About this Web application</h2>
					<ul>
						<li><a href="https://www.canada.ca/en/contact.html">Contact information</a></li>
						<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
						<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
					</ul>
				</nav>
				<div class="col-xs-6 visible-sm visible-xs tofpg">
					<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-xs-6 col-md-2 text-right">
					<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
					<meta property="areaServed" typeOf="Country" content="Canada" />
					<link property="logo" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" />
				</div>
			</div>
		</div>
	</div>
	</footer>
	{% else %}
	<footer id="wb-info">
		<div class="brand">
			<div class="container">
				<div class="row">
					<nav class="col-md-10 ftr-urlt-lnk">
						<h2 class="wb-inv">À propos de cette application Web</h2>
						<ul>
							<li><a href="https://www.canada.ca/fr/contact.html">Coordonnées</a></li>
							<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
							<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
						</ul>
					</nav>
					<div class="col-xs-6 visible-sm visible-xs tofpg">
						<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
					</div>
					<div class="col-xs-6 col-md-2 text-right">
						<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
						<meta property="areaServed" typeOf="Country" content="Canada" />
						<link property="logo" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" />
					</div>
				</div>
			</div>
		</div>
	</footer>

	{% endif %}
	
</div>

<!--template/footer.html end-->
{% endblock %}