
{% block header_wrapper %} 
	{% block header_account %}
		{% if c.userobj %}
		<div class="account-masthead">
			<div class="container">
				{% block header_account_container_content %} 
					{% if c.userobj %}
					<div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
						<ul class="list-unstyled">
						{% block header_account_logged %}
							<li>
							{% if c.userobj.sysadmin %}
								<a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
									<i class="fa fa-gavel" aria-hidden="true"></i>
									<span class="text">{{ _('Admin') }}</span>
								</a>
							</li>
							{% endif %}
							<li>
								<a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image"
									title="{{ _('View profile') }}">
									{{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
									<span class="username">{{ c.userobj.display_name }}</span>
								</a>
							</li>
							{% set new_activities = h.new_activities() %}
							<li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
								{% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new
								items)', new_activities)
								%}
								<a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
									<i class="fa fa-square" aria-hidden="true"></i>
									<span class="text">{{ _('Dashboard') }}</span>
									<span class="badge">{{ new_activities }}</span>
								</a>
							</li>
							<li>
								<a href="{{ h.url_for(controller='user', action='index') }}" title="{{ _('All Users') }}">
									<i class="fa fa-user" aria-hidden="true"></i>
									<span class="text">{{ _('All Users') }}</span>
								</a>
							</li>
							{% block header_account_settings_link %}
							<li>
								<a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
									<i class="fa fa-cog" aria-hidden="true"></i>
									<span class="text">{{ _('Settings') }}</span>
								</a>
							</li>
							{% endblock %} 
							{% block header_account_log_out_link %}
							{% if "aafcesas" not in g.plugins %}
							<li>
								<a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
									<i class="fa fa-sign-out" aria-hidden="true"></i>
									<span class="text">{{ _('Log out') }}</span>
								</a>
							</li>
							{% endif %}
							{% endblock %}
						{% endblock %}
						</ul>
					</div>
					{% else %}
					<nav class="account not-authed">
						<ul class="list-unstyled">
							{% block header_account_notlogged %}
								<a href="{{ h.url_for('/en/') }}" title="{{ _('Log in') }}">
							{% endblock %}
						</ul>
					</nav>
					{% endif %}
				{% endblock %}
			</div>
		</div>
		{% endif %}
	{% endblock %}
	<link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_1/cdts/cdts-app-styles.css">
	{% set current_lang = request.environ.CKAN_LANG %} 
	{% if current_lang == "en" %}
	<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_1/cdts/compiled/wet-en.js"></script>
	<script>
		wet.builder.setup({
			cdnEnv: "prod",
			mode: "app",        
			top:{
			search: false,
			siteMenu: false,
			appName: [{
				text: "Living Labs Data Portal",
				href: "{{ h.url_for('home.index') }}"
			}],
			lngLinks: [{
				lang: "fr",
				href: "{% url_for h.current_url(), locale='fr' %}",
				text: "Français",
			}],
			menuPath: "{{ h.url_for_static('/cdtsMenuen') }}",
			},
			preFooter: {
			showFeedback: "mailto:aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca",
			showShare: false,
			dateModified: "2024-14-06"
			}
		});
	</script>
	{% else %}
	<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_1/cdts/compiled/wet-fr.js"></script>
	<script>
		wet.builder.setup({
		cdnEnv: "prod", 
		mode: "app",
		top:{
			search: false,
			siteMenu: false,
			appName: [{
				text: "Portail de données des laboratoires vivants",
				href: "{{ h.url_for('home.index') }}"
			}],
			lngLinks: [{
				lang: "en",
				href: "{% url_for h.current_url(), locale='en' %}",
				text: "English"
			}],
			menuPath: "{{ h.url_for_static('/cdtsMenufr') }}",
		},
		preFooter: {
			showFeedback: "mailto:aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca",
			showShare: false,
			dateModified: "2024-14-06"
		}
		});
	</script>
	{% endif %}

{% endblock %}
