{% ckan_extends %}
{% block page %}


  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {% block header %}
    {% include "header.html" %}
    <div id="cdts-def-top"></div>
    {% block toolbar %}
      <div class="toolbar container top_padding_10">
        {% block breadcrumb %}
          {% if self.breadcrumb_content() | trim %}
            <ol class="breadcrumb">
              {% snippet 'snippets/home_breadcrumb_item.html' %}
            </ol>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  {% endblock %}

  {# The content block allows you to replace the content of the page if needed #}
  <main property="mainContentOfPage" typeof="WebPageElement" class="container">
    {%- block content %}
      {% block maintag %}{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="alert alert-warning fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}


          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
            <div class="col-md-12">              
              {#
              The pre_primary block can be used to add content to before the
              rendering of the main content columns of the page.
              #}
              
              {% block over_primary_secondary %}
              {% endblock %}
              {% block pre_primary %}
                <h1 property="name" id="wb-cont">
                  {% block page_heading %}{% endblock %}
                </h1>
              {% endblock %}
                          
              {% block primary %}
                <div class="col-md-8 col-md-push-4">
                  {#
                  The primary_content block can be used to add content to the page.
                  This is the main block that is likely to be used within a template.

                  Example:

                    {% block primary_content %}
                      <section class="module" id="wb-cont">
                        <p>Some content for the page</p>
                      </section>
                    {% endblock %}
                  #}
                  
                  {% block page_title %}
                  {% endblock %}
        
                  {% block primary_content %}
                    <article class="module" id="wb-cont">
                      {% block page_header %}
                        <div class="module-content page-header">
                          {% if self.content_action() | trim %}
                            <div class="content_action">
                              {% block content_action %}{% endblock %}
                            </div>
                          {% endif %}
                          <ul class="nav nav-tabs" role="tablist" aria-label="{{ _('Data') }}">
                            {% block content_primary_nav %}{% endblock %}
                          </ul>
                        </div>
                      {% endblock %}
                      
                      <div class="module-content">
                        {% if self.page_primary_action() | trim %}
                          <div class="page_primary_action">
                            {% block page_primary_action %}{% endblock %}
                          </div>
                        {% endif %}
                        {% block primary_content_inner %}
                        {% endblock %}
                      </div>
                    </article>
                  {% endblock %}
                </div>
              {% endblock %}
              {% block secondary %}
                <div class="col-md-4 col-md-pull-8">
                  {#
                    The secondary_content block can be used to add content to the
                    sidebar of the page. This is the main block that is likely to be
                    used within a template.
                    Example:

                    {% block secondary_content %}
                    <h2>A sidebar item</h2>
                    <p>Some content for the item</p>
                    {% endblock %}
                  #}
                  {% block secondary_content %}{% endblock %}
                </div>
              {% endblock %}
            </div>
          </div>
        {% endblock %}
      </div>
    {% endblock -%}
    <div id="cdts-def-preFooter"></div>
  </main>
  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
{% endblock %}

{%- block scripts %}
  {{ super() }}
{% endblock -%}


