<div>
    <p>Le Catalogue de données d'AAC est un système de gestion des métadonnées qui appuie le principe du gouvernement
        ouvert en permettant à AAC de répertorier, de consigner et de publier les métadonnées sur ses fonds de données
        et de renseignements en vigueur.</p>
</div>
<div>
    <h3 id="who-can-use-it">Qui peut l'utiliser?</h3>
</div>
<div>
    <p>Le Catalogue de données d'AAC est un environnement pour tous ceux qui veulent utiliser, publier, partager et
        rendre accessibles les données, ou simplement en savoir plus sur l'utilisation des données.</p>
</div>
<div>
    <h3 id="sharing-data-internally-and-open-government">Échanger des données en interne dans le cadre d'un gouvernement
        ouvert</h3>
</div>
<div>
    <p>Le guide sur l'échange de données donne aux responsables des données et à la collectivité un aperçu des principes
        clés de l'échange de données au sein d'AAC et en externe sur le Portail du gouvernement ouvert.</p>
</div>
<div>
    <p>Un des principaux appuis à l'échange de données gouvernementales est la confiance du public à l'égard de la façon
        dont le gouvernement utilise et échange les données qu'il recueille. Le présent guide sur l'échange de données
        présente ce qui suit :</p>
</div>
<div>
    <ul>
        <li>les principes de l'échange des données;</li>
        <li>liste de vérification de l'échange de données;</li>
        <li>sécuriser les données destinées aux échanges;</li>
        <li>rendre accessibles les données à échanger;</li>
        <li>conception et gestion des données à échanger;</li>
        <li>accords sur l'échange de données et licences;</li>
        <li>être prêt à échanger des données avec AAC et/ou le gouvernement ouvert;</li>
        <li>demander l'accès aux données;</li>
        <li>répondre aux demandes d'accès aux données.</li>
    </ul>
</div>
<div>
    <h2 id="get-involved">Participez!</h2>
</div>
<div>
    <p>Le Catalogue de données d'AAC est un programme vivant qui a besoin de vous pour s'améliorer continuellement et
        devenir l'environnement dont AAC et ses collaborateurs ont besoin.</p>
</div>
<div>
    <p>Vous pouvez participer des manières suivantes :</p>
</div>
<div>
    <ul>
        <li>fournir une rétroaction sur n'importe quelle partie du contenu et de l'environnement du Catalogue de données
            d'AAC;</li>
        <li>nous faire part des fonctionnalités que vous aimeriez voir ajouter;</li>
        <li>suggérer des directives que vous aimeriez obtenir et nous aider à les rédiger;</li>
        <li>partager les ressources que vous avez développées et que nous pouvons intégrer;</li>
        <li>fournir des données au Catalogue de données d'AAC;</li>
        <li>proposer votre travail comme étude de cas sur la façon dont vous utilisez les données;</li>
        <li>collaborer avec d'autres Jedi et Yoda dans la communauté de données.</li>
    </ul>
</div>
<div>
    <h2 id="contact">Personne-ressource</h2>
</div>
<div>
    <p>Le Catalogue de données d'AAC est géré par les Services d'architecture de l'information, que l'on peut joindre à
        l'adresse suivante :<br>
        <a
            href="mailto:aafc.opengovernment-gouvernementouvert.aac@canada.ca">aafc.opengovernment-gouvernementouvert.aac@canada.ca</a><br>
    </p>
</div>