<div>
    <p>The AAFC Data Catalogue is a metadata management system which supports Open Government by providing AAFC with the
        ability to inventory, register and publish the metadata about AAFC’s current data and information holdings.</p>
</div>
<div>
    <h3 id="who-can-use-it">Who can use it?</h3>
</div>
<div>
    <p>The AAFC Data Catalogue is an environment for everyone who wants to use, publish, share and open data, or those
        who simply want to know more about using data.</p>
</div>
<div>
    <h3 id="sharing-data-internally-and-open-government">Sharing data internally and open government</h3>
</div>
<div>
    <p>The data sharing guide provides an overview for data stewards and the community of the key principles of data
        sharing within AAFC and externally to the Open Government Portal.</p>
</div>
<div>
    <p>A critical support for government data sharing is public trust in how government uses and shares the data we
        collect. This data sharing guide outlines:</p>
</div>
<div>
    <ul>
        <li>data sharing principles</li>
        <li>data sharing checklist</li>
        <li>making data safe for sharing</li>
        <li>making data available for sharing</li>
        <li>designing and managing data for sharing</li>
        <li>data sharing agreements and licenses</li>
        <li>ready to share data with AAFC and/or Open Government</li>
        <li>requesting access to data</li>
        <li>responding to data access requests</li>
    </ul>
</div>
<div>
    <h2 id="get-involved">Get involved</h2>
</div>
<div>
    <p>The AAFC Data Catalogue is a living program and it needs you to continuously improve and to become the
        environment that AAFC and its collaborators need it to be.</p>
</div>
<div>
    <p>You can get involved by:</p>
</div>
<div>
    <ul>
        <li><strong>providing feedback</strong> on any part of the AAFC Data Catalogue content and environment</li>
        <li><strong>telling us</strong> about functionality you’d like to see</li>
        <li><strong>suggesting guidance</strong> you’d like to see and help us write it</li>
        <li><strong>sharing</strong> resources you’ve developed that we can incorporate</li>
        <li><strong>contributing</strong> data to the AAFC Data Catalogue</li>
        <li><strong>suggesting your work</strong> on how you’re using data as a case study</li>
        <li><strong>collaborating with other data Jedi’s and Yoda’s</strong> in the data community</li>
    </ul>
</div>
<div>
    <h2 id="contact">Contact</h2>
</div>
<div>
    <p>The AAFC Data Catalogue is supported by Information Architecture, who can be contacted at:<br>
        <a
            href="mailto:aafc.opengovernment-gouvernementouvert.aac@canada.ca">aafc.opengovernment-gouvernementouvert.aac@canada.ca</a><br>
    </p>
</div>