
<div><h3 id="who-can-use-it">Disclaimer</h3>
    <p>
            Living Labs Notice 
            Access to the Living Labs platform is granted to authorized users only.  Use of the Living Labs platform is monitored.  Unauthorized, unacceptable or unlawful activity may result in access being revoked or referral to law enforcement authorities.
            By select YES below you are confirming:
            - You are an authorized user of Living Labs
            - You agree to only use the Living Lab platform to share data and collaborate on Living Labs initiatives only
            - You acknowledge this Living Labs storage platform is certified up to Protected A and you are responsible to ensure that no data above protected A is uploaded or saved to this platform.             
    </p>

    
