
<div>

    <h2 id="who-can-use-it">Étapes</h2>

    <div class="module-addgeometadata-steps">
        <h3>Étape 1:</h3>
        <p>Télécharger et remplir le document suivant: <br>
            <a href="https://collab.agr.gc.ca/co/agrigeo-agrogeo/AgriGeomatics%20Documents/Reference/ISO_19131_Template_-_English.DOCX" target="_blank">Télécharger</a>
        </p>

        <h3>Étape 2:</h3>  
        <p> Envoyez le document rempli par courrier électronique à: <br>
            <a href="mailto:aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca">aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca</a><br>
        </p>
    </div>
</div>
        
        
        
