<div>

    <h2 id="who-can-use-it">Steps: </h2>

    <div class="module-addgeometadata-steps">
        <h3>Step 1:</h3>  
        <p>Download and fill out the following document: <br>
            <a href="https://collab.agr.gc.ca/co/agrigeo-agrogeo/AgriGeomatics%20Documents/Reference/ISO_19131_Template_-_English.DOCX" target="_blank">Download</a>
        </p>

        <h3>Step 2:</h3>
        <p> Email the completed document to: <br>
            <a href="mailto:aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca">aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca</a>
        </p>
    </div>

</div>
    
    
    
