{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set stats = h.get_site_statistics() %}
{% set placeholder = _('Search from 300 Datasets') %}

{% set current_lang = request.environ.CKAN_LANG %}
{%if current_lang == "fr" %}
  {% set placeholder1 = 'Chercher' %}
{% else %}
  {% set placeholder1 = _('Search:') %}
{% endif %}

{% set placeholder2 = _('Datasets') %}

<div class="">
  <form id="dataset-search-form" class="search-form" method="get" action="{% url_for 'dataset.search' %}">
    <div class="input-group col-md-6">
      <input type="text" class="form-control" id="field-main-search" autocomplete="off" name="q" value=""
      aria-labelledby="search-through-our-data-portal-label">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-small" type="submit">
          <span class="glyphicon-search glyphicon"></span>
          <span id="searchbutton" class="wb-inv">{{ _('Search') }}</span>
        </button>
      </span>
    </div>
  </form>
</div>