{% block home_image %}

<div class="col-xs-6 col-md-2">
    <a href="{% url_for '/dataset?extras_theme=soil', 'soil' %}">
        <figure>
            <img class = "img-responsive imagerow" src="{{ h.url_for_static('images/soil.png') }}" style="width:100%" alt="" />

            <figcaption class="caption">
                <p class="text-center"> <b>Soil</b> </p>
            </figcaption>

        </figure>
    </a>
</div>

<div class="col-xs-6 col-md-2">
    <a href="{% url_for '/dataset?extras_theme=atmo', 'atmosphere' %}">
        <figure>
            <img class = "img-responsive imagerow" src="{{ h.url_for_static('images/air.png') }}" style="width:100%" alt="" />

            <figcaption class="caption">
                <p class="text-center"><b>Atmosphere</b> </p>
            </figcaption>

        </figure>
    </a>
</div>

<div class="col-xs-6 col-md-2">
    <a href="{% url_for '/dataset?extras_theme=water', 'water' %}">
        <figure>
            <img class = "img-responsive imagerow" src="{{ h.url_for_static('images/water.png') }}" style="width:100%" alt="" />

            <figcaption class="caption">
                <p class="text-center"> <b>Water</b> </p>
            </figcaption>

        </figure>
    </a>
</div>

<div class="col-xs-6 col-md-2">
    <a href="{% url_for '/dataset?extras_theme=biodi', 'biodiversity' %}">
        <figure>
            <img class = "img-responsive imagerow" src="{{ h.url_for_static('images/bio.png') }}" style="width:100%" alt="" />

            <figcaption class="caption">
                <p class="text-center"> <b>Biodiversity</b> </p>
            </figcaption>

        </figure>
    </a>
</div>

<div class="col-xs-6 col-md-2">
    <a href="{% url_for '/dataset?extras_theme=land', 'landscape' %}">
        <figure>
            <img class = "img-responsive imagerow" src="{{ h.url_for_static('images/land.png') }}" style="width:100%" alt="" />
            <figcaption class="caption">
                <p class="text-center"> <b>Landscape</b> </p>
            </figcaption>
        </figure>
    </a>
</div>

<div class="col-xs-6 col-md-2">
    <a href="{% url_for '/dataset?extras_theme=socio', 'socio-economic' %}">
        <figure>
            <img class = "img-responsive imagerow" src="{{ h.url_for_static('images/socio.png') }}" style="width:100%" alt="" />

            <figcaption class="caption">
                <p  class="text-center"> <b>Socio-Economic</b> </p>
            </figcaption>
        </figure>
    </a>
</div>

{% endblock %}
