{%- set values = data[field.field_name] -%}

<ul class='list-inline'>
  {%- for choice in field.choices -%}
    {%- if choice.value in values -%}
      {% if field.field_name == 'topic_category' %}
        <li><a class="btn btn-default btn-xs mrgn-bttm-sm mrgn-rght-sm"
          href="{% url_for 'dataset.search',
          topic_category=choice.value %}">{{
            h.scheming_language_text(choice.label) }}</a></li>
      {% elif field.field_name == 'audience' %}
        <li>{{
            h.scheming_language_text(choice.label) }}</li>
      {% else %}
            <li> {{h.scheming_language_text(choice.label) }}</li>
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
</ul>
