{% snippet 'snippets/facet_list.html',
title=c.facet_titles['org_title_at_publication'],
name='org_title_at_publication',
scheming_choices=h.scheming_get_preset('org_title_at_publication').choices,
extras=extras %}

{% snippet 'snippets/facet_list.html',
title=c.facet_titles['extras_location'],
name='extras_location',
scheming_choices=h.scheming_get_preset('extras_location').choices,
extras=extras %}

{% snippet 'snippets/facet_list.html',
title=c.facet_titles['extras_theme'],
name='extras_theme',
scheming_choices=h.scheming_get_preset('extras_theme').choices,
extras=extras %}


{% snippet 'snippets/facet_list.html',
  title=c.facet_titles['canada_keywords'],
  name='canada_keywords',
  scheming_choices=h.scheming_get_preset('canada_keywords').choices,
  extras=extras %}


{% snippet 'snippets/facet_list.html',
  title=c.facet_titles['res_format'],
  name='res_format',
  scheming_choices=h.scheming_get_preset('canada_resource_format').choices,
  extras=extras %}

  {% if h.lang() == 'en' %}
    {% snippet 'snippets/facet_list.html', title=c.facet_titles['keywords_en'],
    name='keywords_en', extras=extras %}
  {% elif h.lang() == 'fr' %}
    {% snippet 'snippets/facet_list.html', title=c.facet_titles['keywords_fr'],
    name='keywords_fr', extras=extras %}
  {% endif %}

  <button id="btn-applyFilters" role="button" onclick="apply_filters();"
  class="btn btn-default mrgn-bttm-md mrgn-tp-md btn-block">{{ _('Apply filters')}}</button>

  <script>
    if(document.getElementsByClassName('dataset-item').length == 0)
    {
      document.getElementById('btn-applyFilters').style.display = 'none';
    }
  </script>

<div class="btn-block">
  {% set current_lang = request.environ.CKAN_LANG %}
  {%if current_lang == "fr" %}

    <button id="clearbuttonfr" style='margin-bottom: 30px;' role="button" lang="fr" onclick="clear_filters();"
    class="btn btn-default mrgn-bttm-md btn-block clearButton"><span class="glyphicon glyphicon-refresh"></span> Effacer tout
  </a>
  {% else %}
  <button id="clearbuttonen" style='margin-bottom: 30px;' role="button" lang="en" onclick="clear_filters();"
    class="btn btn-default mrgn-bttm-md btn-block clearButton"><span class="glyphicon glyphicon-refresh"></span> Clear All</a>
 
  {% endif %}
</div>

<!--template/snippets/dataset_facets.html end-->
