<!-- GeomapStart -->
<div id="sample_map" class="wb-geomap tab" data-wb-geomap='{
  "mapExtent": "70, -40, 48, -140",
  "toggle": false,
  "tables": [{
    "id": "bbox",
    "zoom": true,
    "visible": false,
    "popups": true
  },{
    "id": "cities",
    "zoom": true,
    "popups": true,
    "visible": true,
    "popupsInfo": {
      "content": "<div style=\"white-space:nowrap;\">Datasets of _Laboratory location</div>"
    },
    "style": {
      "type": "rule",
      "rule": [
      {
        "field": "Laboratory type",
        "value": ["ACS program"],
        "filter": "EQUAL_TO",
        "name": "Agricultural Climate Solution (2022-2031)",
        "init": {
          "strokeColor": "#000000",
          "fillColor": "#009900",
          "pointRadius": 6,
          "fillOpacity": 0.80,
          "strokeWidth": 1.0
        }
      },
      {
        "field": "Laboratory type",
        "value": ["Living Labs initiative"],
        "filter": "EQUAL_TO",
        "name": "Living Laboratories initiative (2018-2023)",
        "init": {
          "strokeColor": "#000000",
          "fillColor": "#FFF200",
          "pointRadius": 6,
          "fillOpacity": 0.80,
          "strokeWidth": 1.0
        }
      } 
    ]}
  }]
}'>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <!-- Insert Map Start (mandatory) -->
      <div class="wb-geomap-map"></div>
      <!-- Insert Map End -->
      <div class="col-md-6 form-group" id="legend-panel">
        <div class="panel panel-default">
          <header class="panel-heading">
            <h4 class="panel-title">Legend</h4>
          </header>
          <div class="panel-body">
            <div class="wb-geomap-legend"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="wb-geomap-layers">
        <table id="cities" aria-label="Progam" class="table wb-tables"
          data-wb-tables='{ "searching":false, "ordering":false, "info":false, "lengthChange": false }'>
          <caption>Browse datasets by Living Lab</caption>
          <thead>
            <tr>
              <th class="hidden" aria-label="Laboratory type"><span class="wb-inv">Laboratory type</span></th>
              <th aria-label="Laboratory location"><span class="wb-inv">Laboratory location</span></th>
            </tr>
          </thead>
          <tbody>
            <tr class="geomap-tr-3" data-geometry="POINT (-113.97 52.28)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Alberta AgriSystems">
                <a href="{% url_for '/dataset?extras_location=livinglabalbertaagrisystems', 'Alberta AgriSystems' %}">Alberta AgriSystems</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-119.14 49.90)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="British Columbia">
                <a href="{% url_for '/dataset?extras_location=livinglabbritishcolumbia', 'British Columbia' %}">British Columbia</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-106.79 53.18)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Bridge to Land Water Sky">
                <a href="{% url_for '/dataset?extras_location=livinglabbridgetolandwatersky', 'Bridge to Land Water Sky' %}">Bridge to Land Water Sky</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-108.44 49.65)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Central Prairies">
                <a href="{% url_for '/dataset?extras_location=livinglabcentralprairies', 'Central Prairies' %}">Central Prairies</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-99.98 49.89)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Manitoba">
                <a href="{% url_for '/dataset?extras_location=livinglabmanitoba', 'Manitoba' %}">Manitoba</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-66.16 46.50)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="New Brunswick">
                <a href="{% url_for '/dataset?extras_location=livinglabnewbrunswick', 'New Brunswick' %}">New Brunswick</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-54.55 47.56)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Newfoundland and Labrado">
                <a href="{% url_for '/dataset?extras_location=livinglabnewfoundlandandlabrador', 'Newfoundland and Labrador' %}">Newfoundland and Labrador</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-63 45)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Nova Scotia">
                <a href="{% url_for '/dataset?extras_location=livinglabnovascotia', 'Nova Scotia' %}">Nova Scotia</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-80.18 43.63)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Ontario">
                <a href="{% url_for '/dataset?extras_location=livinglabontarioguelph', 'Ontario' %}">Ontario</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-63.15 46.25)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Prince Edward Island">
                <a href="{% url_for '/dataset?extras_location=livinglabprinceedwardisland', 'Prince Edward Island' %}">Prince Edward Island</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-120.71 57.25)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Peace Region">
                <a href="{% url_for '/dataset?extras_location=livinglabpeaceregion', 'Peace Region' %}">Peace Region</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-71.51 46.47)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Québec Lait Carboneutre">
                <a href="{% url_for '/dataset?extras_location=livinglabquebeclaitcarboneutre', 'Québec Lait Carboneutre' %}">Québec Lait Carboneutre</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-71.94 45.35)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Québec Racines d'Avenir">
                <a href="{% url_for '/dataset?extras_location=livinglabquebecracinesdavenir', 'Québec Racines d\'Avenir' %}">Québec Racines d'Avenir</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-113.60 53.82)" data-type="wkt">
              <td class="hidden">ACS program</td>
              <td aria-label="Regenerative Alberta">
                <a href="{% url_for '/dataset?extras_location=livinglabregenerativealberta', 'Regenerative Alberta' %}">Regenerative Alberta</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-63.63 46.35)" data-type="wkt">
              <td class="hidden">Living Labs initiative</td>
              <td aria-label="Atlantic - Initiative">
                <a href="{% url_for '/dataset?extras_location=livinglabatl', 'Atlantic - Initiative' %}">Atlantic - Initiative</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-98.18 49.57)" data-type="wkt">
              <td class="hidden">Living Labs initiative</td>
              <td aria-label="Eastern Prairies - Initiative">
                <a href="{% url_for '/dataset?extras_location=livinglabeasternp', 'Eastern Prairies - Initiative' %}">Eastern Prairies - Initiative</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-80.857 43.126)" data-type="wkt">
              <td class="hidden">Living Labs initiative</td>
              <td aria-label="Ontario - Initiative">
                <a href="{% url_for '/dataset?extras_location=livinglabontario', 'Ontario - Initiative' %}">Ontario - Initiative</a>
              </td>
            </tr>
            <tr class="geomap-tr-3" data-geometry="POINT (-72.907 46.349)" data-type="wkt">
              <td class="hidden">Living Labs initiative</td>
              <td aria-label="Québec - Initiative">
                <a href="{% url_for '/dataset?extras_location=livinglabquebec', 'Québec - Initiative' %}">Québec - Initiative</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- GeomapEnd -->