<!--template/snippets/home_breadcrumb.html start-->
{% set pkg = c.pkg_dict %}
{% set res = c.resource %}
{# Used to insert the home icon into a breadcrumb #}
{% if h.lang() == 'en' %}
<li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
<li><a href="https://agriculture.canada.ca/en">Agriculture and Agri-Food Canada</a></li>
<li><a href="https://agriculture.canada.ca/en/scientific-collaboration-and-research-agriculture/living-laboratories-initiative">Scientific collaboration and research in agriculture</a></li>
<li><a href="{{ h.url('home') }}">Living Labs data portal</a></li>
{% if pkg %}
    <li><a href="/dataset/">Datasets</a></li>
{% endif %}
{% else %}
<li><a href="https://www.canada.ca/fr.html">Canada.ca</a></li>
<li><a href="https://agriculture.canada.ca/fr">Agriculture et Agroalimentaire Canada</a></li>
<li><a href="https://agriculture.canada.ca/fr/collaboration-scientifique-agriculture/initiative-laboratoires-vivants">Collaboration scientifique en agriculture</a></li>
<li><a href="{{ h.url('home') }}">Portail de données des laboratoires vivants</a></li>
{% if pkg %}
    <li><a href="/fr/dataset/">Jeux de données</a></li>
{% endif %}
{% endif %}
<!--template/snippets/home_breadcrumb.html end-->
