<!--template/snippets/language_selector.html start-->
{% set current_lang = request.environ.CKAN_LANG %}

<div class="row">
    <div class="col-md-12">
      <h2 class="wb-inv">{{ _("Language selection link") }}</h2>
      <ul class="list-inline margin-bottom-none">

        {%if current_lang == "fr" %}
        <li><a lang="en" hreflang="en" href="{% url_for h.current_url(), locale='en' %}">English</a></li>
        {% else %}
        <li><a lang="fr" hreflang="fr" href="{% url_for h.current_url(), locale='fr' %}">Français</a></li>
        {% endif %}

      </ul>

    </div>
  </div>
</section>
  <!--template/snippets/language_selector.html end-->
