{% ckan_extends %}

{% block info %}
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- replacement of inner block -->
      {% block image %}
        <div class="image">
          <a href="{{ url }}">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ _('Organization') }}:{{ organization.title }}" />
          </a>
        </div>
      {% endblock %}
      {% block heading %}
        <h2 class="h2-organization">
          {{ organization.title or organization.name }}
          {% if organization.state == 'deleted' %}
            [{{ _('Deleted') }}]
          {% endif %}
        </h2>
      {% endblock %}
      {% block description %}
        {% if organization.notes %}
          <p>
            {% set desc = h.scheming_language_text2(organization.notes) %}
            {{ h.markdown_extract(desc, 180) }}
            {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
          </p>
        {% elif organization.description %}
          <p class="description">
            {{ h.markdown_extract(organization.description, 180) }}
          </p>
          <p class="read-more">
            {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
          </p>
        {% else %}
          <p class="empty">
            {{ _('There is no description for this organization') }}
          </p>
        {% endif %}
      {% endblock %}
      {% if show_nums %}
        {% block nums %}
          <div class="nums">
            <dl>
              <dt>{{ _('Datasets') }}</dt>
              <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
            </dl>
          </div>
        {% endblock %}
        {% block follow %}
          {# <div class="follow_button">
            {{ h.follow_button('group', organization.id) }}
          </div> #}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{#
{% block heading %}
  {% if group %}
    <div class="panel-heading text-center">
      {{ group.display_name }}
    </div>
  {% endif %}
{% endblock %}

{% block nums %}
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">
        {{ _('Followers') }}
      </h4>
      <p class="font-xlarge align-center">
        {{ h.SI_number_span(organization.num_followers) }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="align-center">
        {{ _('Members') }}
      </h4>
      <p class="font-xlarge align-center">
        {{ h.SI_number_span(organization.members|length) }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="test-center">
        {{ _('Datasets') }}
      </h4>
      <p class="font-xlarge align-center">
        {{ h.SI_number_span(organization.packages|length) }}
      </p>
    </div>
  </div>
{% endblock %}

{% block follow %}
  {{ h.follow_button('organization', organization.id) }}
{% endblock #}
#}
