{% ckan_extends %}
{% block organization_item %}
  <section class="panel panel-default">
    {% block organization_item_header %}
      <header class="panel-heading">
        <div class="row">
          {% block organization_item_header_image %}
          <img class="col-sm-4" src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" />
          {% endblock %}
          <div class="col-sm-8">
            {% block group_item_header_title %}
            <h2 class="h2-organization-item">
              <a href="{{ h.url_for(controller='organization', action='read', id=organization.name) }}">
                {{ organization.title or organization.name }}
              </a>
            </h2>
            {% endblock %}
            {% block organization_item_header_description %}
              {{ super () }}
            {% endblock %}
          </div>
        </div>
      </header>
    {% endblock %}
    <div class="panel-body">
      {% block organization_item_content %}
        {% set list_class = "list-unstyled" %}
        {% set item_class = "" %}
        {% snippet 'snippets/package_list.html', packages=organization.packages, list_class=list_class, item_class=item_class, truncate=120 %}
      {% endblock %}
    </div>
  </section>
{% endblock %}