
{#
  Displays a single of dataset.
  
  package        - A package to display.
  item_class     - The class name to use on the list item.
  hide_resources - If true hides the resources (default: false).
  banner         - If true displays a popular banner (default: false).
  truncate       - The length to trucate the description to (default: 180)
  truncate_title - The length to truncate the title to (default: 80).
  
  Example:
  
    {% snippet 'snippets/package_item.html', package=c.datasets[0] %}
  
  #}
  {% set truncate = truncate or 180 %}
  {% set truncate_title = truncate_title or 80 %}
  {% set title = package.title or package.name %}
  {% set current_lang = request.environ.CKAN_LANG %}
  {% if current_lang == 'en' %}
      {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
  {% else %}
      {% set notes = h.markdown_extract(package.notes_translated.fr, extract_length=truncate) %}
  {% endif %}
  {% block package_item %}
    <li class="{{ item_class or "dataset-item" }}">
      <article class="panel panel-default mrgn-bttm-sm relative">
    <header class="panel-heading">

      {% block content %}
        <div class="dataset-content">
          {% block heading %}
            <h3 class="dataset-heading" style=" color : #2572b4; font-size: 125%; font-weight:700;">
              {% block heading_private %}
                {% if package.private %}
                  <span class="dataset-private label label-inverse">
                    <i class="fa fa-lock"></i>
                    {{ _('Private') }}
                  </span>
                {% endif %}
              {% endblock %}
              {% block heading_title %}
                {{ h.link_to(h.truncate(package['title_translated'][h.lang()], truncate_title), h.url_for('%s.read' % package.type, id=package.name)) }}
              {% endblock %}
              {% block heading_meta %}
                {% if package.get('state', '').startswith('draft') %}
                  <span class="label label-info">{{ _('Draft') }}</span>
                {% elif package.get('state', '').startswith('deleted') %}
                  <span class="label label-danger">{{ _('Deleted') }}</span>
                {% endif %}
                {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
              {% endblock %}
            </h3>
          {% endblock %}
          {% block banner %}
            {% if banner %}
              <span class="banner">{{ _('Popular') }}</span>
            {% endif %}
          {% endblock %}
          {% block notes %}
            {% if notes %}
              <div>{{ notes|urlize }}</div>
            {% else %}
              <p class="empty">{{ _("This dataset has no description") }}</p>
              {% endif %}
              {% endblock %}
            </div>
          
            {% block resources %}
              {% if package.resources and not hide_resources %}
                {% block resources_outer %}
                  {% block resources_inner %}
                  <div class="d-flex">
                    <strong class="mrgn-rght-md">Format:</strong>
                    <ul class="dataset-resources list-unstyled mrgn-tp-0" aria-label="{{ _('Resource formats') }}">
                      {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                      <li>
                        <span class="label label-default" property="dc:format" data-format="{{ resource.lower() }}">{{ resource }}</span>
                      </li>
                      {% endfor %}
                    {% endblock %}
                    </ul>
                  </div>
                  <div class="dataset-keywords d-flex">
			              <img src="{{ h.url_for_static('images/icon_tags.png') }}" alt="{{_('Keywords')}}" height="15" class="mrgn-img">
                    <ul class="list-inline">
                      {% for keyword in package.get("keywords") %}
                      <li class="pdng-0">{{ h.scheming_choices_label(h.scheming_get_preset("canada_keywords")["choices"], keyword) -}}{{- "," if not loop.last else ""}}</li>
                      {% endfor %}
                    </ul> 
                  </div> 
                  <hr class="mrgn-0"> 
                  <p class="mrgn-0 right-align"><b>{{ _('Date modified:')}}</b> {{package.get('metadata_modified')[0:10]}}</p>
                {% endblock %}
              {% endif %}
            {% endblock %}
          {% endblock %}
          </header>
        </article>

        </li>
      {% endblock %}

     
    
