<div class="container">
    <div id="cdts-def-preFooter">
    {% set current_lang = request.environ.CKAN_LANG %} 
    {% if current_lang == "en" %}
      <div class="pagedetails container">
        <div class="row">
          <div class="col-sm-6 col-md-5 col-lg-4">
            <a href="https://www.canada.ca/en/report-problem.html" class="btn btn-default text-center">Report a problem on this page</a>
          </div>
        </div>
        <dl id="wb-dtmd">
          <dt>Date modified: </dt>
          <dd><time property="dateModified">2024-14-06</time></dd>
        </dl>
      </div>
    {% else %}
    <div class="pagedetails container">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <a href="https://www.canada.ca/fr/signaler-probleme.html" class="btn btn-default text-center">Signaler un problème sur cette page</a>
        </div>
      </div>
      <dl id="wb-dtmd">
        <dt>Date de modification: </dt>
        <dd><time property="dateModified">2024-14-06</time></dd>
      </dl>
    </div>
    {% endif %}
    </div> 
  </div>
