{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set result_limit = [10, 20, 50, 100] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}
{% set result_select = h.get_result_limit() %}

<form {% if form_id %}id="{{ form_id }}"
  {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" method="get">

  {% block search_input %}
  <div class="input-group col-md-12">

    <input type="text" class="form-control" id="search_field" autocomplete="off" name="q" value="{{ query }}"
      aria-labelledby="searchbutton" placeholder="{{ placeholder }}">
    <span class="input-group-btn">
      {% block search_input_button %}
      <button class="btn btn-primary btn-small" type="submit">
        <span class="glyphicon-search glyphicon"></span>
        <span id="searchbutton" class="wb-inv">{{ _('Search') }}</span>
      </button>
      {% endblock %}
    </span>
  </div>
  <br>
  {% endblock %}
 
  {% block search_search_fields %}
  {% if fields -%}
  <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_sortby %}
  {% if sorting %}
  <div class="form-select form-group control-order-by">
    <label for="field-row-number">{{ _('Results per page') }}</label>
    <select id="field-row-number" name="ext_result_number" class="form-control" onchange="this.form.submit();"">
      {% for label in result_limit %}
      <option value="{{ label }}" {% if result_select == label %} selected="selected" {% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
    <label for="field-order-by">{{ _('Order by') }}</label>
    <select id="field-order-by" name="sort" class="form-control" onchange="this.form.submit();">
      {% for label, value in sorting %}
      {% if label and value %}
      <option value="{{ value }}" {% if sorting_selected == value %} selected="selected" {% endif %}>{{ label }}
      </option>
      {% endif %}
      {% endfor %}
    </select>
    {% block search_limit_button %}
    <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
    {% endblock %}
  </div>
  {% endif %}
  {% endblock %}




  {% block search_facets %}
    {% if facets %}
      <!-- {% if facets.fields %}
        <h2 style="font-size: large">{{ _('Active filters')}}</h2>
      {% endif %} -->
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a role="button" href="{{ facets.remove_field(field, value) }}" class="remove remove-link" title="{{ _('Remove') }}">
              
		      <i class="fa fa-times remove-link"><span class="wb-inv"><!-- {{_("Activate to remove this filter")}} --> {% if h.lang() == 'fr'%}Filtre {% endif%}
            {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) %}
            {{ facets.translated_fields[(field,value)] }}
            {%- else %}
              {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
            {%- endif %} {%if h.lang() == 'en'%} filter{% endif%}
          </span></i>
	      </a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>
     <!-- <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>-->
    {% endif %}
  {% endblock %}

</form>
{% block search_title %}
{% if not error %}
<h2 role="status" tabindex="0" style="font-size: large">{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
{% else %}
  <h2>Error</h2>
{% endif %}
{% endblock %}
{% if show_empty and count == 0 and not error %}
{% trans %}
<p class="extra">Please try another search.</p>
{% endtrans %}
{% endif %}

{% if error %}
{% trans %}
<p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
{% endtrans %}
{% endif %}
