<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
      <p>{{ _('Definition of Organizations') }}</p>
  </div>
</div>
