{% import 'macros/form.html' as form %}

{# 
#}

{% macro _organization() %}
  {% set existing_org = data.aafc_owner_org or data.group_id %}
  {% call form.input_block('field-aafc_organizations',
    label=h.scheming_language_text(field.label),
    error=errors[field.field_name],
    is_required=org_required,
    classes=['form-group', 'control-medium'],
    extra_html=caller() if caller,
    ) %}
    <div {{
      form.attributes(field.form_attrs) if 'form_attrs' in field else '' }}>
    <select id="field-aafc_organizations" name="aafc_owner_org" {{ form.attributes(
        field.get('form_select_attrs', {'data-module':'autocomplete'})) }}>
      {% if not org_required or field.get('form_include_blank_choice', false) %}
        <option value="">{% if not org_required
          %}{{ _('No organization') }}{% endif %}</option>
      {% endif %}
      {% for organization in organizations_available %}
        {% set selected_org = existing_org == organization.id %}
        {{ organization_option_tag(organization, selected_org) }}
      {% endfor %}
    </select>
    </div>
  {% endcall %}
{% endmacro %}

{% call _organization() %}
  {%- snippet 'scheming/form_snippets/help_text.html', field=field %}
{% endcall %}