{# This is specific to datasets' owner_org field and won't work #}
{# if used with other fields #}


{% macro organization_option_tag(organization, selected_org) %}
  {% block organization_option scoped %}
    <option value="{{ organization.id }}"{%
      if selected_org %} selected="selected"{% endif
      %}>{{' organization.display_name' }}</option>
  {% endblock %}
{% endmacro %}

  <div data-module="dataset-visibility">
  {% snippet "scheming/form_snippets/_aafc_org_select.html",
    field=field,
    data=data,
    errors=errors,
    organizations_available=h.organizations_available('create_dataset'),
    org_required= h.scheming_field_required(field),
    organization_option_tag=organization_option_tag %}


  </div>