{% import 'macros/form.html' as form %}

{% macro help_text() %}
  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{% endmacro %}

{%- call form.input_block(
    "field-{{ field.field_name }}",
    label=h.scheming_language_text(field.label),
    classes=['control-full'],
    error=errors[field.field_name],
    is_required=h.scheming_field_required(field),
    extra_html=help_text()
    ) -%}
  {%- set choices = [] -%}
  {%- for c in h.scheming_field_choices(field) -%}
    {%- do choices.append(
      (c.value, h.scheming_language_text(c.label),c.label.ff)) -%}
  {%- endfor -%}
  {%- if field.get('sorted_choices') -%}
    {%- set choices = choices|sort(case_sensitive=false, attribute=1) -%}
  {%- endif -%}
  {%- set choices = h.lli_keywords_sort(choices) -%}

  {% if field.field_name == 'keywords' %}
  <div class="keyword-title">{{ _('Selected keywords') }}</div>
    <div style="display: flex;">
      <select multiple
        id="package_form_keyword_select"
        aria-label="{{_('keyword options')}}"
        {{ form.attributes(dict(
          {"class": "form-control"}, **field.get('form_select_attrs', {}))) }}>
          {%- for val, label,ff in choices -%}
            <option id="field-{{ field.field_name }}-{{ val }}" class="keyword_option"
                value="{{ val }}">
              {{ label }}
            </option>
          {%- endfor -%}
      </select>
      <div>
        <button class="keyword_form_button" id="btn_keyword_add" type="button" aria-label="{{_('add selected keywords')}}">+</button>
        <button class="keyword_form_button" style="padding-inline: 7px;" id="btn_keyword_remove" type="button" aria-label="{{_('remove selected keywords')}}">–</button>
      </div>
      <input type="hidden" id="alert_message" value="{{_('The number of keywords selected exceeds the maximum limit allowed (10)')}}">   
      <select multiple
        id="package_form_selected_keywords"
        aria-label="{{_('selected keywords')}}"
        name=""
        {{ form.attributes(dict(
          {"class": "form-control"}, **field.get('form_select_attrs', {}))) }}>
          {%- for val, label,ff in choices -%}
            {% if val in data[field.field_name] %}
            <option id="field-{{ field.field_name }}-{{ val }}" class="keyword_option"
                value="{{ val }}">
              {{ label }}
            </option>
            {% endif %}
          {%- endfor -%}
        </select>

        <select multiple
        size="{{ ([field.get('select_size', 10), field.choices|length]|sort)[0] }}"
        style="display: none"
        id="selected_keywords_hidden"
        name="{{ field.field_name }}"
        {{ form.attributes(dict(
          {"class": "form-control"}, **field.get('form_select_attrs', {}))) }}>
          {%- for val, label,ff in choices -%}
            {% if val in data[field.field_name] %}
            <option id="field-{{ field.field_name }}-{{ val }}"
                value="{{ val }}" selected="true">
              {{ label }}
            </option>
            {% endif %}
          {%- endfor -%}
        </select>
    </div>

  {% else %}
  <select multiple
      size="{{ ([field.get('select_size', 10), field.choices|length]|sort)[0] }}"
      style="display: block"
      id="field-{{ field.field_name }}"
      name="{{ field.field_name }}"
      {{ form.attributes(dict(
        {"class": "form-control"}, **field.get('form_select_attrs', {}))) }}>
      {%- for val, label,ff in choices -%}
        <option id="field-{{ field.field_name }}-{{ val }}"
            value="{{ val }}"
            {{"selected " if val in data[field.field_name] }} />
          {{ label }}
        </option>
      {%- endfor -%}
  </select>
  {% endif %}
{%- endcall -%}
