{# This is specific to datasets' owner_org field and won't work #}
{# if used with other fields #}

{% set current_lang = request.environ.CKAN_LANG %}
{% set user = user_dict %}

{# If there's an org defined, check if I can update it. If I can, default to whichever state is was Public or Private #}
{# If I can't, then private is the only option #}

{% set can_update_org = true %}
{% if data.get('organization', 'none') == 'none' %}
{% set can_update_org = False %}
{% else %}

{% set can_update_org = h.check_access('organization_update', {'id': data.organization.id}) %}
{% endif %}


{% macro organization_option_tag(organization, selected_org) %}
{% block organization_option scoped %}
<option value="{{ organization.id }}" {%
      if selected_org %} selected="selected" {% endif
      %}>{{ organization.display_name }}</option>
{% endblock %}
{% endmacro %}

<div data-module="dataset-visibility">
  {% snippet "scheming/form_snippets/_organization_select.html",
    field=field,
    data=data,
    errors=errors,
    organizations_available=h.organizations_available('create_dataset'),
    org_required=not h.check_config_permission('create_unowned_dataset')
      or h.scheming_field_required(field),
    organization_option_tag=organization_option_tag %}

  {% block package_metadata_fields_visibility %}
  <div class="control-group form-group control-medium">
    <label for="field-private" class="control-label">
      <span title="This field is required" class="control-required">*</span>
      {{ _('Public Access Level') }}</label>
    <div class="controls">
      {% if can_update_org %}
      <select id="field-private" name="private" class="form-control">
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
        <option value="{{ option[0] }}" {% if (option[0] | trim) == (data.private | trim) %}selected="selected" {% endif %}>
          {{ option[1] }}</option>

        {% endfor %}
      </select>
      {% else %}
      <select id="field-private" name="private" class="form-control">
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
        <option value="{{ option[0] }}" {% if option[1] == data.private|trim %}selected="selected" {% endif %}>
          {{ option[1] }}</option>

        {% endfor %}
      </select>
      {% endif %}
      <div class="info-block">
        <i class="fa fa-info-circle"></i>
        {% if current_lang == "en" %}
        Indicate the level of availability of the dataset
        {% endif %}
        {% if current_lang == "fr" %}
        Indiquer le niveau d'accessibilité du jeu de données
        {% endif %}
      </div>
    </div>
    {% endblock %}
   
  </div>
 
