{% ckan_extends %}

{% block page_heading %}
  {{ _('My Organizations') }}
{% endblock %}

{% block primary_content_inner %}
  {% set organizations = h.organizations_available(permission='manage_group',
     include_dataset_count=True) %}
  {% if organizations %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=organizations, show_capacity=True %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any organizations.') }}
      {% if h.check_access('organization_create') %}
        {% link_for _('Create one now?'), controller='organization', action='new' %}
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
