{% ckan_extends %}

{% block page_heading %}
  {{ _('My News Feeds') }}
{% endblock %}

{% block primary %}
  <article class="module" id="wb-cont">
    {% block page_header %}
      <header class="module-content page-header hug">
        <div class="content_action">
          {% link_for _('Profile settings'), named_route='user.edit', id=user.name, class_='btn btn-default', icon='cog' %}
        </div>
    {% block content_primary_nav %}    
        <ul class="nav nav-tabs">
          {{ h.build_nav_icon('dashboard.index', _('News feed'), icon='list') }}
          {{ h.build_nav_icon('dashboard.datasets', _('My Datasets'), icon='sitemap') }}
          {{ h.build_nav_icon('dashboard.organizations', _('My Organizations'), icon='building-o') }}
          {{ h.build_nav_icon('dashboard.groups', _('My Groups'), icon='users') }}
        </ul>
     {% endblock %}   
      </header>
    {% endblock %}
    <div class="module-content">
      {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
          {% block page_primary_action %}{% endblock %}
        </div>
      {% endif %}
      {% block primary_content_inner %}
        <div data-module="dashboard">
          {% snippet 'user/snippets/followee_dropdown.html', context=dashboard_activity_stream_context, followees=followee_list %}
          <h2 class="h2-dashboard-news-feed-activity">
            {{ _("Activity from items that I'm following") }}
          </h2>
          {% snippet 'snippets/activity_stream.html', activity_stream=dashboard_activity_stream %}
        </div>
      {% endblock %}
    </div>
  </article>
{% endblock %}
