{% ckan_extends %}

{% block page_heading %}
  {{ _('My Groups') }}
{% endblock %}

{% block primary_content_inner %}
  <div data-module="dashboard" class="col-md-12">
    {{ super() }}
    <script>
      var appBanners = document.getElementsByClassName('empty'), i;
    
    for (i = 0; i < appBanners.length; i += 1) {
        appBanners[i].style.display = 'none';
    }
    var appBanners = document.getElementsByClassName('page_primary_action'), i;
    
    for (i = 0; i < appBanners.length; i += 1) {
        appBanners[i].style.display = 'none';
    }
      </script>
  </div>
{% endblock %}