{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('package_create') %}
  {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
  {{ h.snippet ('snippets/add_geo.html', dataset_type=dataset_type) }}
    {% endif %}
{% endblock %}

{% block page_heading %}
  {{ _('My Datasets') }}
{% endblock %}

{% block primary_content_inner %}

  <div class="col-md-12">
  {{ super() }}
  <script>
  var appBanners = document.getElementsByClassName('empty'), i;

for (i = 0; i < appBanners.length; i += 1) {
    appBanners[i].style.display = 'none';
}
  </script>
  </div>
  
{% endblock %}
