{% extends 'user/edit_base.html' %}
{% set current_lang = request.environ.CKAN_LANG %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('user.index') }}">{{ _('Users') }}</a></li>
{% endblock %}

{% block page_heading %}
  {{ _('Edit User Information') }}
{% endblock %}

{% block primary_content_inner %}
  {{ form | safe }}
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Account Info') }}
    </h2>
    {%if current_lang == "en" %}
      <div class="module-content">Your profile lets other CKAN users know about who you are and what you do.</div>
    {% else %}
      <div class="module-content">Votre profil permet aux autres utilisateurs de CKAN de savoir qui vous êtes et ce que vous faites</div>
    {% endif %}
  </section>
{% endblock %}
