{% ckan_extends %}

{% block subtitle %}{{ _('Edit') }} {{ g.template_title_delimiter }} {{ user_dict.display_name }} {{ g.template_title_delimiter }} {{ _('Users') }}{% endblock %}

{% block primary_content %}
  <article class="module" id="wb-cont">
    <div class="module-content">
      {% block primary_content_inner %}{% endblock %}
    </div>
  </article>
{% endblock %}
