{% import 'macros/form.html' as form %}


<form class="form" method="post" action="{{ action }}">
  {{ form.errors(error_summary) }}
  <div class="panel panel-default">
    <div class="panel-heading">{{ _('Change your details') }}</div>
  <div class="panel-body">
    {{ form.input('name', label=_('Username'), id='field-username', value=data.name, error=errors.name, classes=['control-medium'], attrs={'readonly': ''}) }}

    {{ form.input('fullname', label=_('Full name'), id='field-fullname', value=data.fullname, error=errors.fullname, placeholder=_('eg. Joe Bloggs'), classes=['control-medium'],attrs={'readonly': ''}) }}

    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('eg. joe@example.com'), classes=['control-medium'],attrs={'readonly': ''}) }}

    {{ form.markdown('about', label=_('About'), id='field-about', value=data.about, error=errors.about, placeholder=_('A little information about yourself')) }}

    {% if c.show_email_notifications %}
      {% call form.checkbox('activity_streams_email_notifications', label=_('Subscribe to notification emails'), id='field-activity-streams-email-notifications', value=True, checked=c.userobj.activity_streams_email_notifications) %}
      {{ form.info(_("You will receive notification emails from {site_title}, e.g. when you have new activities on your dashboard.".format(site_title=g.site_title)), classes=['info-help-tight']) }}
      {% endcall %}
    {% endif %}
    </div>
    </div>

    <div class="panel panel-default">
      {{ form.hidden('old_password', value=data.oldpassword) }}

      {{ form.hidden('password1', value=data.password1) }}
    
      {{ form.hidden('password2', value=data.password2) }}
    
  <div class="form-actions">
     {% block cancel_button %}
     <a class="btn btn-primary" href="{% url_for 'user_index', data.name %}">{{ _('Cancel') }}</a>
     {% endblock %}
	{% block delete_button %}
      {% if h.check_access('user_delete', {'id': data.id})  %}
        <a class="btn btn-danger pull-left" href="{% url_for 'user_delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this User?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Update Profile') }}</button>
  </div>
</form>
</div>