{% ckan_extends %}

{% block page_heading %}
  {{ _('Users') }}
{% endblock %}

{% block primary_content %}
  <article class="module" id="wb-cont">
    <div class="module-content">
      {% block users_list %}
        <ul class="user-list">
          {% block users_list_inner %}
            {% for user in page.items %}
              <li>{{ h.linked_user(user['name'], maxlength=20) }}</li>
            {% endfor %}
          {% endblock %}
        </ul>
      {% endblock %}
    </div>
    {% block page_pagination %}
      {{ page.pager(q=q, order_by=order_by) }}
    {% endblock %}
  </article>
{% endblock %}

