{% ckan_extends %}

{% block page_heading %}
  {{ _('Login') }}
{% endblock %}

{% block primary_content %}
  <section class="module" id="wb-cont">
    <div class="module-content">
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=g.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}
