{% ckan_extends %}

{% block page_heading %}
  {{ _('Logged Out') }}
{% endblock %}

{% block primary_content %}
  <section class="module" id="wb-cont">
    <div class="module-content">
      <p>{% trans %}You are now logged out.{% endtrans %}</p>
    </div>
  </section>
{% endblock %}
