<!-- <h4>{%- snippet 'scheming/snippets/display_field.html',
  field=schema.dataset_fields[9], data=pkg_dict, schema=schema -%}</h4> -->

  <section class="additional-info">
    <!-- Uncomment this section to help debug  -->
    <!-- <ul>
    {% for i in range(70)  %}
      <li>{{ i }}  -- >  {{ schema.dataset_fields[i].label }}</li>
    
    {% endfor %} -->
    </ol>
    <h3 id="additionalInfo">{{ _('Additional Information') }} </h3>
    <table class="table table-striped table-bordered table-condensed" aria-labelledby="additionalInfo">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
  
        {# Displaying "Data Provider" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[7].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[7].label)}}</th>
            <td id="data-provider" class="dataset-details"{%
              if schema.dataset_fields[7].display_property %} property="{{ schema.dataset_fields[7].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[7], data=pkg_dict, schema=schema -%}</td>
        </tr>

        {# Displaying "Dataset Provider - Section Name" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[48].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[47].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[47].display_property %} property="{{ schema.dataset_fields[47].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[47], data=pkg_dict, schema=schema -%}</td>
        </tr>    
          
        {# Displaying "Source URL" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[60].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[60].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[60].display_property %} property="{{ schema.dataset_fields[60].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[60], data=pkg_dict, schema=schema -%}</td>
        </tr>
        
        {# Displaying "Theme" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[13].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[13].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[13].display_property %} property="{{ schema.dataset_fields[13].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[13], data=pkg_dict, schema=schema -%}</td>
        </tr>
       
        {# Displaying "Keywords" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[14].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[14].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[14].display_property %} property="{{ schema.dataset_fields[14].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[14], data=pkg_dict, schema=schema -%}</td>
        </tr>

        {# Displaying "Living Lab" #}
        <tr>
          
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[12].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[12].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[12].display_property %} property="{{ schema.dataset_fields[12].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[12], data=pkg_dict, schema=schema -%}
            </td>
        </tr>
         
        {# Displaying "Subject" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[15].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[15].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[15].display_property %} property="{{ schema.dataset_fields[15].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[15], data=pkg_dict, schema=schema -%}
            </td>
        </tr>
        {# Displaying "Contact Email" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[16].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[16].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[16].display_property %} property="{{ schema.dataset_fields[16].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[16], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Author" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[28].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[28].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[28].display_property %} property="{{ schema.dataset_fields[28].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[28], data=pkg_dict, schema=schema -%}</td>
              
        </tr>
  
        {# Displaying "Collaborator" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[49].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[49].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[17].display_property %} property="{{ schema.dataset_fields[49].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[49], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Maintenance" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[21].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[21].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[21].display_property %} property="{{ schema.dataset_fields[21].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[21], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Time Period Start" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[53].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[53].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[53].display_property %} property="{{ schema.dataset_fields[53].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[53], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Time Period End #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[54].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[54].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[54].display_property %} property="{{ schema.dataset_fields[54].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[54], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Date Published #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[39].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[39].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[39].display_property %} property="{{ schema.dataset_fields[39].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[39], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Date Modified" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[59].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[59].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[59].display_property %} property="{{ schema.dataset_fields[59].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[59], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        {# Displaying "Note" #}
        <tr>
          <th scope="row" class="dataset-label" id="f-{{schema.dataset_fields[61].field_name}}">
            {{h.scheming_language_text(schema.dataset_fields[61].label)}}</th>
            <td class="dataset-details"{%
              if schema.dataset_fields[61].display_property %} property="{{ schema.dataset_fields[61].display_property
              }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
              field=schema.dataset_fields[61], data=pkg_dict, schema=schema -%}</td>
        </tr>
  
        
  
  {#-------------------------------------------------------------------------------------------------------------------#}
        {# The following block of code below has been commented out using the "{# ... #/}" tags #}
  {# 
        {% block package_additional_info %}
          {% if pkg_dict.url %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Source') }}</th>
              {% if h.is_url(pkg_dict.url) %}
                <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
              {% else %}
                <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
              {% endif %}
            </tr>
          {% endif %}
  
          {% if pkg_dict.author_email %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Author") }}</th>
              <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
            </tr>
          {% elif pkg_dict.author %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Author") }}</th>
              <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
            </tr>
          {% endif %}
  
          {% if pkg_dict.maintainer_email %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
              <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
            </tr>
          {% elif pkg_dict.maintainer %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
              <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
            </tr>
          {% endif %}
  
          {% if pkg_dict.version %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Version") }}</th>
              <td class="dataset-details">{{ pkg_dict.version }}</td>
            </tr>
          {% endif %}
  
          {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("State") }}</th>
              <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
            </tr>
          {% endif %}
          {% if pkg_dict.metadata_modified %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Last Updated") }}</th>
              <td class="dataset-details">
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
              </td>
            </tr>
          {% endif %}
          {% if pkg_dict.metadata_created %}
            <tr>
              <th scope="row" class="dataset-label">{{ _("Created") }}</th>
  
              <td class="dataset-details">
                  {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
              </td>
            </tr>
          {% endif %}
  
        {% block extras scoped %}
          {% for extra in h.sorted_extras(pkg_dict.extras) %}
            {% set key, value = extra %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
              <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
              <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr>
          {% endfor %}
        {% endblock %}
  
        {% endblock %}  
        
        #}
        {# ------------------------------- #}
            
  
      </tbody>
    </table>
  </section>
  
