{% ckan_extends %}

{% block package_info_inner %}
  {% block heading %}
    <h3 class="h3-dataset-followers">{{ h.dataset_display_name(pkg) }}</h1>
  {% endblock %}
  {% block nums %}
    {% set num_followers = h.follow_count('dataset', pkg.id) %}
    <div class="nums-no-top-border">
      <dl>
        <dt>{{ _('Followers') }}</dt>
        <dd data-module="followers-counter" data-module-id="{{ pkg.id }}" data-module-num_followers="{{ num_followers }}">{{ h.SI_number_span(num_followers) }}</dd>
      </dl>
    </div>
  {% endblock %}
  {% block follow_button %}
    {% if not hide_follow_button %}
      <div class="follow_button">
        {{ h.follow_button('dataset', pkg.id) }}
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
