{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = h.url_for(url_action, id=pkg.id if is_activity_archive else pkg.name, resource_id=res.id, **({'activity_id': request.args['activity_id']} if 'activity_id' in request.args else {})) %}

<tr class="resource-item" data-id="{{ res.id }}">

  {% block resource_item_title %}

  <td >
    <div class="col-format">
        <i class="label label-default" title="{{  h.resource_display_name(res) }}" style="border-color:white">
          <span class="label label-default" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
          {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
        </i>
        </div>
  </td>
  <td>

    <a href="{{ url }}" title="{{  h.resource_display_name(res) }}">
    {{ h.resource_display_name(res) | truncate(50) }}
    </a>
 </td>
  {% endblock %}

  {% block resource_item_language %}{% endblock %}

  {% block resource_item_description %}

  {% endblock %}


</tr>
