{% ckan_extends %}

{% block page_title %}
  <h3 class="h3-resource-info">{{ h.resource_display_name(res) or res.id }}</h3>
{% endblock %}
{% block resource_info %}
  <div class="nums-no-top-border">
    <dl>
      <dt>{{ _('Format') }}</dt>
      <dd><span>{{ h.get_translated(res, 'format') }}</span></dd>
    </dl>
  </div>
{% endblock %}
