{# {% ckan_extends %} #}

<section id="dataset-resources" class="resources">
  <h2 id="data-and-resources-heading">{{ _('Data and Resources') }}</h2>

{% block resource_list %}
{% if resources %}
<script>
  var appBanners = document.getElementsByClassName('empty'), i;

for (i = 0; i < appBanners.length; i += 1) {
    appBanners[i].style.display = 'none';
}


  </script>
    {% if pkg.resources %}
    {% block resource_list_inner %}
      <table aria-labelledby="data-and-resources-heading" class="table table-striped">
      <thead class="wb-inv"  id="resourceThead">
	<tr>
		<th>{{ _('Format') }}</th>
		<th>{{ _('Name') }}</th>
	</tr>
      </thead>
        <tbody>
        {% for resource in pkg.resources %}
          {% if resource.format != 'app' %}
            {% snippet 'package/snippets/resource_item.html',
              pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang %}
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    {% endblock %}
    {% endif %}
{% else %}
 
{% endif %}
{% endblock %}
</section>
