 {#
  Creates all the markup required for a Markdown textarea element. Handles
  matching labels to inputs, selected item and error messages.

  name        - The name of the form parameter.
  id          - The id to use on the input and label. Convention is to prefix with 'field-'.
  label       - The human readable label.
  value       - The value of the input.
  placeholder - Some placeholder text.
  error       - A list of error strings for the field or just true to highlight the field.
  classes     - An array of classes to apply to the form-group.
  is_required - Boolean of whether this input is requred for the form to validate

  Examples:
  
  {% import 'macros/form.html' as form %}
  {{ form.markdown('desc', id='field-description', label=_('Description'), value=data.desc, error=errors.desc) }}

  #}
  {% macro markdown(name, id='', label='', value='', placeholder='', error="", classes=[], attrs={'class': 'form-control'}, is_required=false) %}
  {% set classes = (classes|list) %}
  {% do classes.append('control-full') %}
  {% set markdown_tooltip = "<pre><p>__Bold text__ or _italic text_</p><p># title<br>## secondary title<br>### etc</p><p>* list<br>* of<br>* items</p><p>http://auto.link.ed/</p></pre><p><b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a></b></p><p class='text-muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>" %}

  {%- set extra_html = caller() if caller -%}
  {% call input_block(id or name, label or name, error, classes, control_classes=["editor"], extra_html=extra_html, is_required=is_required) %}
  <textarea id="{{ id or name }}" name="{{ name }}" cols="20" rows="5" placeholder="{{ placeholder }}" {{ attributes(attrs) }}>{{ value | empty_and_escape }}</textarea>
  {% endcall %}
  {% endmacro %}

  {#
  A generic input_block for providing the default markup for CKAN form elements.
  It is expected to be called using a {% call %} block, the contents of which
  will be inserted into the .controls element.

  for     - The id for the input that the label should match.
  label   - A human readable label.
  error   - A list of error strings for the field or just true.
  classes - An array of custom classes for the outer element.
  control_classes - An array of custom classes for the .control wrapper.
  extra_html - An html string to be inserted after the errors eg. info text.
  is_required - Boolean of whether this input is requred for the form to validate

  Example:

  {% import 'macros/form.html' as form %}
  {% call form.input_block("field", "My Field") %}
  <input id="field" type="text" name="{{ name }}" value="{{ value | empty_and_escape }}" />
  {% endcall %}

  #}
  {% macro input_block(for, label="", error="", classes=[], control_classes=[], extra_html="", is_required=false) %}
  <div class="form-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
  <label class="control-label" for="{{ for }}">{% if is_required %}<span title="{{ _("This field is required") }}" class="control-required">*</span> {% endif %}{{ label or _('Custom') }}</label>
  <div class="controls{{ " " ~ control_classes | join(' ') }}">
  {{ caller() }}
  {% if error and error is iterable %}<span class="error-block">{{ error|join(', ') }}</span>{% endif %}
  {{ extra_html }}
  </div>
  </div>
  {% endmacro %}

  {#
  Builds a list of errors for the current form.

  errors  - A dict of field/message pairs.
  type    - The alert-* class that should be applied (default: "error")
  classes - A list of classes to apply to the wrapper (default: [])

  Example:

  {% import 'macros/form.html' as form %}
  {{ form.errors(error_summary, type="warning") }}

  #}
  {% macro errors(errors={}, type="error", classes=[]) %}
  {% if errors %}
  <div class="error-explanation alert alert-{{ type }}{{ " " ~ classes | join(' ') }}">
  <p>{{ _('The form contains invalid entries:') }}</p>
  <ul>
    {% for key, error in errors.items() %}
    <li data-field-label="{{ key }}">{% if key %}{{ key }}: {% endif %}{{ error }}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% endmacro %}



  {#
  Builds a space seperated list of html attributes from a dict of key/value pairs.
  Generally only used internally by macros.

  attrs - A dict of attribute/value pairs

  Example

  {% import 'macros/form.html' as form %}
  {{ form.attributes({}) }}

  #}
  {%- macro attributes(attrs={}) -%}
  {%- for key, value in attrs.items() -%}
  {{ " " }}{{ key }}{% if value != "" %}="{{ value }}"{% endif %}
  {%- endfor -%}
  {%- endmacro -%}

  {#
  Outputs the "* Required field" message for the bottom of formss

  Example
  {% import 'macros/form.html' as form %}
  {{ form.required_message() }}

  #}
  {% macro required_message() %}
  <p class="control-required-message">
    <span class="control-required">*</span> {{ _("Required field") }}
  </p>
  {% endmacro %}

