body {
    background: white !important;
    background-image: none !important;
}

.navbar-default {
    background-color: #fff !important;
    border-color: #fff !important;
}

.search-form {
    border-bottom: none!important;
}
 
.search-form .search-input button span {
    display: inline-block;
}

.module-heading {
    margin: 0;
    padding: 10px 25px;
    font-size: 1.1em;
    line-height: 1.3;
    background-color: white;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.dataset-private.pull-right {
    font-size: 12px;
    margin-top: 8px;
}
 
.toolbar .breadcrumb a {
    color: #505050;
    display: inline-block;
} 
.toolbar .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "> ";
  }
 
.wrapper {
    border: 0px solid #fff;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    position: relative;
    min-height: 300px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .toolbar .breadcrumb {
          color: #505050;
          text-shadow: none;
        }
    .toolbar .breadcrumb a {
        color: #505050;
        text-shadow: none;
    }
}

@media (min-width: 768px) {
    [role=main],
    .main,
    .page-wrap {
        padding-top: 10px;
        background: white;
    }
}
   
@media (min-width: 768px) {
    [role=main],
    .main,
    .page-wrap {
        padding-top: 10px;
        background: #fff;
    }
}

#content {
    background-color: white;
}

#cities{
    width: auto;
}

#cities caption {
    text-align: left!important;
    padding-top: 0px!important;
}

#geomap-legend-sample_map fieldset {
    padding: 0px!important;
}

#legend-panel {
  padding: 0px!important;
}

.geomap-progress {
    display: none;
}

.masthead, .masthead:before, .masthead:after, header {
    background: white;
}

#cities thead th:nth-child(1) {
    width: 3%!important;
}

#cities thead th:nth-child(2) {
    width: 0%!important;
}

#cities thead th:nth-child(3) {
    width: 94%!important;    
}

#cities thead th:nth-child(4) {
    width: 3%!important;
}

.geomap-tr-3 td {
    /* text-align: center!important; */
    text-align: left!important;
    padding: 0px!important;
    vertical-align: middle!important;
}

#cities tbody tr td:nth-child(3) {
    padding-left: 8px!important;
}

#cities tbody tr td .btn {
    padding: 7px 0px 7px 0px!important;
}

/* Dataset Page */

#field-data_quality-data_includes_links, #field-data_quality-data_includes_uris {
	width: 5% !important;
} 

#resource-edit .controls input { 
    width: 100%;
}

#resource-edit .controls select.form-control { 
    width: 100%;
}

#dataset-edit .controls input { 
    width: 100%;
}

#dataset-edit .controls select.form-control { 
    width: 100%;
}

/*
Version: 0.1
*/
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    /*font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    font-family: 'Arial';
    /*content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    content: "-";
    float: left;        /* adjust as needed */
    color: white;         /* adjust as needed */
    margin-right: 5px;
}
 
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    /*content: "\e080";    /* adjust as needed, taken from bootstrap.css */
   content: "+"; 
}

.form-actions#final-action {
    overflow: hidden;
    padding: 0 15px;
    height: auto;
}

.form-actions#final-action > .control-required-message {
    margin-left: 0;
}

/* ADMIN PAGE */
.data-provider {
    overflow-y: scroll;
    height: 200px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
 
.data-provider-title {
    font-size: 20px;
    padding: 8px 10px;
    margin: 0;
    background-color: #ccc;
}
 
.data-provider li {
    margin: 2px 0;
    font-size: 16px;
    line-height: initial;
}

.form-control.max {
    width: 100%;
}

.form-content {
    margin-top: 20px;
}
 
.fa-check-square-o:before {
    color: #295376;
}

/* Hide Pages fields */
.pages-form > .form-group:nth-child(3)  {
    display: none;
}

.pages-form > .form-group:nth-child(5)  {
    display: none;
}

/* Hack for multi select french and english. French is doubling height */
select#package_form_keyword_select {
    height: 234px;
}

.search-form .control-order-by {
    text-align: right;
    margin-left: 15px;
    float: none;
  }

  .keyword-title {
    margin-left: 353px;
    font-weight: 700;
}

.filter.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 80%;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem
}

.btn-danger {
    color: #fff !important;
    background-color: #bc3331;
    border-color: #6b1d1c;
    font-weight: bold;

}

#dataset_keywords {
    width: 100%
}

.deleted {
    color: red;
    font-size: 13px;

}

.mrgn-0 {
    margin: 0%;
}

.right-align {
    text-align: right;
}

.mrgn-img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
}

.h1-modified {
    margin-top: 1em;
    margin-bottom: 1em;
}
  
.h2-modified {
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: .2em;
}

.h2-organization-form-heading {
    margin-top: 0px;
    margin-bottom: .5em;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: .2em;
}

.h2-dashboard-news-feed-activity {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.h2-organization, .h2-user-read-base {
    margin-top: 20px;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: .2em;
}

.h2-organization-item {
    margin-top: 0px;
}

.h2-dataset-abstract {
    margin-top: 15px;
    border-bottom: 1px solid rgb(80, 80, 80);
    font-size: 1.2em;
    padding-bottom: .2em;
}

.h2-admin-lli-config {
    font-size: 1.2em;
    padding: 10px;
    margin: 0;
    background-color: #ccc;
}

.h2-error-name {
    margin-top: 0px;
    margin-bottom: .2em;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
    padding-bottom: .2em;
}

.h3-dataset-followers {
    margin-top: 0px;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: .2em;
}

.h3-resource-info {
    margin-top: 0px;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: .2em;
}

.nums-no-top-border {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 0;
    border-top: none;
}

.nums-no-top-border dl dt {
    font-size: 16px;
}

.nums-no-top-border dl dd {
    font-size: 24px;
}

.module-addgeometadata, .module-about {
    padding: 0px 30px 30px 30px;
}

.module-addgeometadata-steps {
    padding: 0px 30px 30px 30px;
}

/* aligns title with organization form elements - if other forms negatively impacted restrict to organization forms */
/* alternative fix - insert specific css class for form element in /ckanext-scheming/../scheming/organization/group_form.html */
.form-horizontal .form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.module-content .page-header {
    background-color: #f6f6f6;
    border-radius: 0 3px 0 0;
    padding-top: 15px;
    padding-bottom: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 23px;
    margin-left: 0px;
    border-bottom: 1px solid #eee;
}

.nums_followers {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 0;
}

.top_padding_10 {
    padding-top: 10px;
}

.side_padding_15 {
    padding-left: 15px;
    padding-right: 15px;
}
