		<footer id="wb-info">
			<div class="landscape">
				<nav class="container wb-navcurr" aria-labelledby="about-government-heading">
					<h2 id="about-government-heading" class="wb-inv">Au sujet du gouvernement</h2>
					<ul class="list-unstyled colcount-sm-2 colcount-md-3">
						<li><a href="https://www.canada.ca/fr/contact.html">Contactez-nous</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/min.html">Ministères et organismes</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
						<li><a href="https://www.canada.ca/fr/nouvelles.html">Nouvelles</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
						<li><a href="https://www.canada.ca/fr/transparence/rapports.html">Rapports à l'échelle du gouvernement</a></li>
						<li><a href="http://pm.gc.ca/fra">Premier ministre</a></li>
						<li><a href="https://www.canada.ca/fr/gouvernement/systeme.html">Comment le gouvernement fonctionne</a></li>
						<li><a href="http://ouvert.canada.ca/">Gouvernement ouvert</a></li>
					</ul>
				</nav>
			</div>
			<div class="brand">
				<div class="container">
					<div class="row">
						<nav class="col-md-10 ftr-urlt-lnk" aria-labelledby="about-site-heading">
							<h2 id="about-site-heading class="wb-inv">À propos du site</h2>
							<ul>
								<li><a href="https://www.canada.ca/fr/sociaux.html">Médias sociaux</a></li>
								<li><a href="https://www.canada.ca/fr/mobile.html">Applications mobiles</a></li>
								<li><a href="https://www1.canada.ca/fr/nouveausite.html">À propos de Canada.ca</a></li>
								<li><a href="https://www.canada.ca/fr/transparence/avis.html">Avis</a></li>
								<li><a href="https://www.canada.ca/fr/transparence/confidentialite.html">Confidentialité</a></li>
							</ul>
						</nav>
						<div class="col-xs-6 visible-sm visible-xs tofpg">
							<a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
						</div>
						<div class="col-xs-6 col-md-2 text-right">
							<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" alt="Symbole du gouvernement du Canada" />
							<meta property="areaServed" typeOf="Country" content="Canada" />
							<link property="logo" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-blk.svg" />
						</div>
					</div>
				</div>
			</div>
		</footer>
