<div id="bg">
	<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/img/splash/sp-bg-2.jpg" alt="">
</div>
<div class="sp-hb">
	<div class="sp-bx col-xs-12">
		<h1 property="name" class="wb-inv">Canada.ca</h1>
		<div class="row">
			<div class="col-xs-11 col-md-8">
				<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/sig-spl.svg" width="283" alt="Government of Canada / Gouvernement du Canada" />
			</div>
		</div>
		<div class="row">
			<section class="col-xs-6 text-right">
				<h2 class="wb-inv">Government of Canada</h2>
				<p><a href="https://www.canada.ca/en.html" class="btn btn-primary">English</a></p>
			</section>
			<section class="col-xs-6" lang="fr">
				<h2 class="wb-inv">Gouvernement du Canada</h2>
				<p><a href="https://www.canada.ca/fr.html" class="btn btn-primary">Français</a></p>
			</section>
		</div>
	</div>
	<div class="sp-bx-bt col-xs-12">
		<div class="row">
			<div class="col-xs-7 col-md-8">
				<a href="https://www.canada.ca/en/transparency/terms.html" class="sp-lk">Terms & conditions</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="https://www.canada.ca/fr/transparence/avis.html" class="sp-lk" lang="fr">Avis</a>
			</div>
			<div class="col-xs-5 col-md-4 text-right mrgn-bttm-md">
				<img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/assets/wmms-spl.svg" width="127" alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada" />
			</div>
		</div>
	</div>
</div>
