{% ckan_extends %}

{% block subtitle %}{{ _('New Resource') }} {{ g.template_title_delimiter }} {{ h.dataset_display_name(pkg) }}{% endblock %}

{% block page_heading %}
  {{ _('New Resource') }}
{% endblock %}

{% block form_title %}{{ _('New Resource') }}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="#">{{ _('New Resource') }}</a></li>
{% endblock %}
