{% ckan_extends %}

{% block subtitle %}{{ _('Add Resources') }}{% endblock %}

{% block page_heading %}
  {{ _('Add Resources') }}
{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% if pkg %}
    <li class="active"><a href="#">{{ _('Add Resources') }}</a></li>
  {% endif %}
{% endblock %}
