{% ckan_extends %}
{% block page_heading %}
  {{ _('Dataset Information') }}  
{% endblock %}
{% block package_description %}
  {% if pkg.private %}
    <span class="dataset-private label label-inverse pull-right">
      <i class="fa fa-lock"></i>
      {{ _('Private') }}
    </span>
  {% endif %}
  {% block package_archive_notice %}
    {% if is_activity_archive %}
      <div class="alert alert-danger">
        {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
        You're currently viewing an old version of this dataset. To see the
        current version, click <a href="{{ url }}">here</a>.
        {% endtrans %}
      </div>
    {% endif %}
  {% endblock %}
  <h2>
      {{ h.dataset_display_name(pkg) }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% if pkg.state == 'deleted' %}
        [{{ _('Deleted') }}]
      {% endif %}
  </h2>
  {# FIXME why is this here? seems wrong #}
  <span class="insert-comment-thread"></span>
  <p>{{ pkg['notes_translated'][h.lang()] }}</p>
{% endblock %}