{% ckan_extends %}
{% block pre_primary %}
{% endblock %}
{% block over_primary_secondary %}
  <div class="row col-sm-12">
    <div class="module-content" id="wb-cont">
      {% block resource_read_title %}
        <h1 property="name" id="wb-cont">{{ h.resource_display_name(res) | truncate(50) }}</h1>
      {% endblock %}
      {% block resource_content %}
        <div class="actions access_location">
          {% block resource_actions %}
            <ul class="list-inline">
              {% block resource_actions_inner %}
                {#
                    {% if h.check_access('package_update', {'id':pkg.id }) %}
                      <li>{% link_for _('Edit'), named_route=pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
                    {% endif %}
                #}
                {% if res.url and h.is_url(res.url) %}
                  <li>
                    <a target="_blank" class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}"
                      href="{{ res.url }}">
                      {% if res.resource_type in ('listing', 'service') %}
                        <i class="fa fa-eye"></i> {{ _('View') }}
                      {% elif  res.resource_type == 'api' %}
                        <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                      {% elif not res.has_views or not res.can_be_previewed %}
                        <i class="fa fa-external-link"></i> {{ _('Access dataset') }}
                      {% else %}
                        <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
                {% if 'datastore' in g.plugins %}
                  <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
                {% endif %}
              {% endblock %}
            </ul>
            {% endblock %}
        </div>
        {% block resource_read_url %}
        {% endblock %}
        <div class="prose notes" property="rdfs:label">
          <div class="col-md-12">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% endif %}
            {% if not res.description and c.package.notes %}
              {% set current_lang = request.environ.CKAN_LANG %}
              <h2 class="h2-dataset-abstract">
                {{ _('Description of the dataset') }}
              </h2>
              <blockquote>{{ h.markdown_extract(c.package.get('notes_translated').get(current_lang)) }}</blockquote>
              <p>
                {% trans dataset=h.get_translated(c.package, 'title'), url=h.url_for(controller='dataset', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
              </p>
          {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
{% block primary %}
  <div class="col-md-8">
    {% block primary_content %}
      {{ super() }}
    {% endblock %}
  </div>
{% endblock %}