
{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %} {{ _('Search Datasets') }} {% endblock %}

<script>
  document.getElementsByTagName("button")[0].setAttribute("aria-label", "search");
  var input = document.getElementsByTagName("button")[0];
  for (var i = 0, attrs = input.attributes, l = attrs.length; i < l; i++)
    button.setAttribute(attrs.item(i).nodeName, attrs.item(i).nodeValue);
  button.setAttribute("aria-label", "search");
  var parent = input.parentNode;
  parent.replaceChild(button, input);
</script>
{% block breadcrumb_content %}
  <li id="navlinkbread" class="active">
    {{ h.nav_link(_(dataset_type.title() + 's'), named_route='%s.search' % dataset_type, highlight_actions = 'new index') }}
  </li>

  <script>
    var lin = document.getElementById('navlinkbread').getElementsByTagName("a");
    for (var i = 0; i < lin.length; i++) {
      lin[i].removeAttribute("href");
    }
  </script>
{% endblock %}

{% block page_heading %}
  {{ _('Search Datasets') }}
{% endblock %}

{% block primary_content %}
  <section class="module" id="wb-cont">
    <div class="module-content">
      {% block page_primary_action %}
      {% if h.check_access('package_create') %}
        <div class="page_primary_action">
          {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
          {{ h.snippet ('snippets/add_geo.html', dataset_type=dataset_type) }}
        </div>
        {% endif %}
        {% endblock %}
        {% block form %}
        {% set facets = {
              'fields': c.fields_grouped,
              'search': c.search_facets,
              'titles': c.facet_titles,
              'translated_fields': c.translated_fields,
              'remove_field': c.remove_field }
            %}
        {% set current_lang = request.environ.CKAN_LANG %}
        {% if current_lang == "fr" %}
        {% set sorting = [
              (_('Relevance'), 'score desc, metadata_modified desc'),
              (_('Name Ascending'), 'title_fr asc'),
              (_('Name Descending'), 'title_fr desc'),
              (_('Last Modified'), 'metadata_modified desc'),
              (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
            %}
        {% else %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% endif %}
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
        {% endblock %}
        {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
        {% endblock %}
      </div>

    {% block page_pagination %}
    {{ c.page.pager(q=c.q) }}
    {% endblock %}
  </section>

{% block package_search_results_api %}
{% endblock %}
{% endblock %}

{% block secondary_content %}
<!--template/package/search.html start-->

  <aside class="mrgn-tp-lg">

    <h2 style="font-size: large;">
      {{ _('Filter your results')}}
    </h2>

    {% snippet 'snippets/dataset_facets.html', organization_facet=h.snippet(
      'snippets/facet_list.html', title=c.facet_titles['organization'],
      name='organization')
    %}

    {% block extra_facets %}

    {% endblock %}

  </aside>
<!--template/package/search.html end-->
{% endblock %}
