{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), 'home.about' %}</li>
{% endblock %}

{% block page_heading %}
  {{ _('About AAFC Data Catalogue') }}
{% endblock %}

{% block primary %}
  <article class="module" id="wb-cont">
    <div class="module-about">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
	        {% if h.lang() == "en" %}
            {% snippet 'home/snippets/about_text.html' %}
	        {% else %}
            {% snippet 'home/snippets/about_text_f.html' %}
	        {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
