{% extends "page.html" %}

{% block subtitle %}{{ _('Add Geospatial Metadata') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Datasets'), 'dataset.search', highlight_actions = 'new index' %}</li>
{% if h.lang() == "en" %}
<li class="active">{% link_for _('Add Geospatial'), controller='aafc', action='/addgeopage' %}</li>
{% else %}
<li class="active">{% link_for _('Ajouter des données géospatiales'), controller='aafc', action='/addgeopage' %}</li>
{% endif %}
{% endblock %}

{% block page_heading %}
    {{ _('Add Geospatial Metadata') }}
{% endblock %}

{% block primary %}
  <article class="module" id="wb-cont">
    <div class="module-addgeometadata">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          {% if h.lang() == "en" %}
            {% snippet 'home/snippets/moreinfogeo.html' %}
          {% else %}
            {% snippet 'home/snippets/moreinfogeo_f.html' %}
          {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
