{% set storage_location = h.get_storage_url() %}
<!DOCTYPE html>
<html lang="en">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<!-- DataAjaxFragmentStart -->
<div class="pnl-strt container visible-sm visible-md visible-lg nvbar">
	<h2>Topics menu</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li role="none"><a href="{{ h.url_for('dataset.search', locale='fr') }}" class="item">Jeux de données</a></li>
			{% if c.userobj.sysadmin %}
			<li role="none"><a href="{{ h.url_for('organization.index', locale='fr') }}" class="item">Organisations</a></li>
			{% endif %}
			{% if c.userobj %}
			<li role="none"><a href="http://aafc.maps.arcgis.com/" target="_blank" class="item">ArcGIS Online</a></li>
			<li role="none"><a href= {{ storage_location }} target="_blank" class="item">Stockage des données</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
<!-- DataAjaxFragmentEnd -->

</html>