{% set storage_location = h.get_storage_url() %}
<!DOCTYPE html>
<html lang="en">
<!-- Application templates - Sample menu -->
<!-- DataAjaxFragmentStart -->
<div class="pnl-strt container visible-sm visible-md visible-lg nvbar wb-menu" data-trgt="mb-pnl">
	<h2 class="wb-inv" id="menuHeading">Menu</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li role="none"><a href="{{ h.url_for('dataset.search') }}">Datasets</a></li>
			{% if c.userobj.sysadmin %}
			<li role="none"><a href="{{ h.url_for('organization.index') }}">Organizations</a></li>
			{% endif %}
			{% if c.userobj %}
			<li role="none"><a href="http://aafc.maps.arcgis.com/" target="_blank">ArcGIS Online</a></li>
			<li role="none"><a href= {{ storage_location }} target="_blank">Data Storage</a></li>
			{% endif %}
		</ul>
	</div>
</div>
<!-- DataAjaxFragmentEnd -->

</html>