{% extends "page.html" %}

{% block subtitle %}{{ _('Disclaimer') }}{% endblock %}

{% block breadcrumb_content %}
<li></li>
{% if h.lang() == "en" %}
<li class="active">Disclaimer</li>
{% else %}
<li class="active">Disclaimer</li>
{% endif %}
{% endblock %}

{% block primary %}
  <article class="module" id="wb-cont">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
     
	  {% if h.lang() == "en" %}
          {% snippet 'home/snippets/disclaimer_text.html' %}
          {{ h.snippet ('snippets/add_real_dataset.html', dataset_type=dataset_type) }}

	  {% else %}
          {% snippet 'home/snippets/disclaimer_text_f.html' %}
	  {% endif %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}
{% block secondary %}{% endblock %}


