{% set current_lang = request.environ.CKAN_LANG %}
<section class="page-type-nav" id="wb-cont">
  <div class="container">
    <div class="row side_padding_15">
      <h1 property="name" id="wb-cont">
        {{ _("Living Labs data portal") }}
      </h1>
    </div>
    <div class="row side_padding_15">
      <div >
        <span property="name">
          {%if current_lang == "fr" %}
            Accédez aux données scientifiques et socio-économiques du Réseau national de laboratoires vivants d'Agriculture et Agroalimentaire Canada.
          {% else %} 
            Access scientific and socio-economic data from Agriculture and Agri-Food Canada's national network of living labs.
          {% endif %}
        </span>
      </div>
      <div class="">
        <p id="search-through-our-data-portal-label" style="margin-top: 10px; font-weight: 700; width: 66% !important;"property="name">
          {%if current_lang == "fr" %} Effectuez une recherche dans le portail des données
          {% else %} Search through our data portal
          {% endif %}
        </p>
      </div>
    
      {% snippet 'home/snippets/search.html' %}
    </div>
  </div>
</section>

<section class="page-type-nav">
  <div class="container">
    <div class="row side_padding_15">
      <h2 class="browse-heading">
        {{ _("Browse by theme") }}
      </h2>

      {%if current_lang == "fr" %}
        {% snippet 'home/snippets/search_image_fr.html' %}
      {% else %}
        {% snippet 'home/snippets/search_image.html' %}
      {% endif %}

    </div>
  </div>
</section>

<section class="page-type-nav">
  <div class="container">
    <div class="row side_padding_15">
      <h2 class="browse-heading">
        {{ _("Browse by living lab") }}
      </h2>

      <div class="center-block">
      {%if current_lang == "fr" %}
        {% snippet 'snippets/geomap_static_fr.html' %}
      {% else %}
        {% snippet 'snippets/geomap_static.html' %}
      {% endif %}
      </div>
    </div>
    
      
  </div>
</section>

