{% import 'macros/autoform.html' as autoform %}
{% extends "admin/base.html" %}
{% import 'macros/form.html' as form %}

{% block page_heading %}
  {{_('Living Labs Administration')}}
{% endblock %}

{% block primary_content_inner %}
    
    <div class="panel panel-default">
    <h2 class="h2-admin-lli-config">{{_('Data Providers')}}:</h2>
    <div class="module-content">
    {% set data_providers = h.get_data_providers() %}
    {% set keyword_providers = h.get_keywords() %}
    
    

    <div class="form-content">
    {{ form.errors(error_summary) }}
    
    <form method='post' action="" id="provider-config-form" enctype="multipart/form-data">
      <div class="form-group control-medium">
      <select name="providers" id="providers" multiple size=10 class="form-control">  
        {% for provider in data_providers %}

                {% if provider.deleted %}
                <option class='deleted' value="{{provider.value}}"> {{provider.name}} ({{_('removed')}})</option>
                <!-- <li>{{value}}</li>       -->
            {% else %}
                <option value="{{provider.value}}">{{provider.name}}</option>
                {% endif %}
        {% endfor %}
      </select>
      </div>
        <div class="form-group control-medium">
            <label class="control-label" for="provider-en">{{_('New Data Provider')}} ({{_('English')}}):</label>
            <div class="controls">
            <input type="text" id="data-provider-input-1" name="provider-en" class="form-control max">
            </div>
        </div>
        <div class="form-group control-medium">
            <label class="control-label" for="provider-fr">{{_('New Data Provider')}} ({{_('French')}}):</label>
            <div class="controls">
            <input type="text" id="data-provider-input-2" name="provider-fr" class="form-control max">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="save" value="new">{{ _('Add') }}</button>
            <a class="btn btn-danger" name="save" value='delete'type="submit" data-module="confirm-action" data-module-with-data="true" data-module-content="{{_('Are you sure you want to delete these data providers')}}?">
              {{ _('Delete') }}
            </a>
          </div>
      </form>
    </div>
    </div>

    <h2 class="h2-admin-lli-config">{{_('Dataset Keywords')}}:</h2>
    <div class="module-content">
    <div class="form-content">
    {{ form.errors(error_summary) }}
    
    <form method='post' action="" id="keyword-config-form" enctype="multipart/form-data">
         <div class="form-group control-medium">
          <select name="keywords" id="dataset_keywords" multiple size=10 class="form-control">  
            {% for key in keyword_providers %}
            {% if key.deleted %}
            <option class='deleted' value="{{key.value}}"> {{key.name}} ({{_('removed')}})</option>
              {% else %}
              <option value="{{key.value}}">{{key.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
          </div>
        <div class="form-group control-medium">
            <label class="control-label" for="keyword-en">{{_('New Keyword')}} ({{_('English')}}):</label>
            <div class="controls">
            <input type="text" id="data-keyword-input-1" name="keyword-en" class="form-control max">
            </div>
        </div>
        <div class="form-group control-medium">
            <label class="control-label" for="keyword-fr">{{_('New Keyword')}} ({{_('French')}}):</label>
            <div class="controls">
            <input type="text" id="data-keyword-input-2" name="keyword-fr" class="form-control max">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="save" value="new">{{ _('Add') }}</button>
            <a class="btn btn-danger" name="save" value='delete'type="submit" data-module="confirm-action" data-module-with-data="true" data-module-content="{{_('Are you sure you want to delete these keywords')}}?">
              {{ _('Delete') }}
            </a>
          </div>
      </form>
    </div>
    </div>
</div>
{% endblock %}

{% block secondary_content %}
 
{% endblock %}