<!DOCTYPE html>
<html lang="en">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<!-- DataAjaxFragmentStart -->
<div class="pnl-strt container visible-md visible-lg nvbar">
	<h2>Topics menu</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li ><a  href="{{ h.url_for('dataset.search') }}" class="item">Datasets</a></li>
			{% if c.userobj %}
			<li ><a  href="{{ h.url_for('organization.index') }}" class="item">Organizations</a></li>
			<li ><a  href="http://aafc.maps.arcgis.com/" target="_blank" class="item">ArcGIS Online</a></li>
			<li ><a  href="http://aqrt.nrs.gov.bc.ca/" target="_blank" class="item">Aquarius</a></li>
			<li ><a  href="https://ec2-35-182-229-230.ca-central-1.compute.amazonaws.com" target="_blank" class="item">Data Storage</a></li>
			{% endif %}
				</ul>
	</div>
</div>
<!-- DataAjaxFragmentEnd -->
</html>
