{% extends "page.html" %}

{% block subtitle %}{{ _("Confirm Delete") }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}

{% block main_content %}
  <section class="module col-md-6 col-md-offset-3" id="wb-cont">
    <div class="module-content">
      {% block form %}
        <p>{{ _('Are you sure you want to delete organization - {name}?').format(name=group_dict.name) }}</p>
        <p class="form-actions">
          <form id="organization-confirm-delete-form" action="{% url_for group_type+'.delete', id=group_dict.name %}" method="post">
            <button class="btn btn-danger" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
    </div>
  </section>
{% endblock %}
