{% extends "organization/edit_base.html" %}

{% import 'macros/form.html' as form %}

{% set user = user_dict %}

{% set current_lang = request.environ.CKAN_LANG %}

{% block subtitle %} {{ _('Edit Member') if user else 'Add User' }} - {{ super() }} {% endblock %}

{% block page_heading %}
  {{ _('Edit Member') if user else _('Add a user to an organization') }}
{% endblock %}

{% block primary_content_inner %}
<div class="row">
  <div class="col-xs-12">
    {% link_for _('Back to all members'), controller='organization', action='members', id=organization.name, class_='btn btn-primary pull-right', icon='arrow-left' %}
  </div>
</div>

{% block form %}
<form class="dataset-form add-member-form" method='post' id="add-member-form">
  <div class="row">
    <div class="col-md-10">
      <div class="form-group control-medium">
        {% if not user %}
        <label class="control-label" for="username">
          {{ _('Existing User') }}
        </label>
        <p>
          {{ _('If you wish to add an existing user, search for their username below.') }}
        </p>
        {% endif %}
        <div class="controls">
          {% if user %}
          <input type="hidden" name="username" value="{{ user.name }}" />
          <input id="username" name="username" type="text" value="{{ user.name }}" disabled="True"
            class="form-control control-medium">
          {% else %}
          <input id="username" type="text" name="username" placeholder="Username" value="" class="control-medium"
            data-module="autocomplete" data-module-source="/api/2/util/user/autocomplete?ignore_self=true&q=?">
          {% endif %}
        </div>
      </div>
    </div>
    {% if not user %}

    {% endif %}
  </div>
  {% set format_attrs = {'data-module': 'autocomplete'} %}

  <!-- {{ form.select('role', label=_('Role'), options=c.roles, selected=user_role, error='', attrs=format_attrs) }} -->
  <label class="control-label" for="role">
    {{ _('Role') }}
  </label>
  {%if current_lang == "en" %}

  <select name="role" class="form-control">
    {% for d in c.roles %}
    {% if d.text == "Editor" %}
    <option value="{{ d.value }}">Analyzer</option>
    {% endif %}
    {% if d.text == "Member" %}
    <option value="{{ d.value }}">Internal</option>
    {% endif %}
    {% if d.text == "Admin" %}
    <option value="{{ d.value }}">Administrator</option>
    {% endif %}
    {% endfor %}
    {% endif %}
    {%if current_lang == "fr" %}

    <select name="role" class="form-control">
      {% for d in c.roles %}
      {% if d.text == "Éditeur" %}
      <option value="{{ d.value }}">Analyseur</option>
      {% endif %}
      {% if d.text == "Membre" %}
      <option value="{{ d.value }}">Interne</option>
      {% endif %}
      {% if d.text == "Administrateur" %}
      <option value="{{ d.value }}">Administrateur</option>
      {% endif %}
      {% endfor %}
      {% endif %}

    </select>
    <div class="form-actions">

      {% if user %}
      {% set locale = h.dump_json({'content': _('Are you sure you want to delete this member?')}) %}
      <a href="{% url_for controller='organization', action='member_delete', id=group_dict.id, user=user.id %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-i18n="{{ locale }}">{{ _('Delete') }}</a>


      <button class="btn btn-primary" type="submit" name="submit">
        {{ _('Update Member') }}
      </button>
      {% else %}
      <button class="btn btn-primary" type="submit" name="submit">
        {{ _('Add Member') }}
      </button>
      {% endif %}
    </div>
</form>
<script>
        function myC() {
 
 var d = document.getElementsByClassName("modal-content");

 if(d[0] != null){
   len = d[0].children.length;
   //iterate over <li> then first <a> of each <li>
   for (i = 0;  i < len; i++) {
     d[0].children[i].children[0].style.background = '#fff';
   }
 }


}
myC();
</script>
{% endblock %}
{% endblock %}

{% block secondary_content %}
{% if organization %}
{% snippet 'snippets/organization.html', organization=organization %}
{% else %}
{{ super() }}
{% endif %}
{% set current_lang = request.environ.CKAN_LANG %}
{%if current_lang == "en" %}
<script>
  if (document.getElementsByClassName("alert").length == 1) {
    var p = document.getElementsByClassName("alert");
    p[0].innerText = "User not Found";

  }
</script>
{% endif %}
{%if current_lang == "fr" %}
<script>
  if (document.getElementsByClassName("alert").length == 1) {
    var p = document.getElementsByClassName("alert");
    p[0].innerText = "L'utilisateur est introuvable";

  }
</script>
{% endif %}
<div class="panel panel-info">
  <div class="panel-heading text-center">
    {{ _('What are roles?') }}
  </div>
  <div class="panel-body">
    {%if current_lang == "en" %}
    {% trans %}
    <p><strong>System Administrator :</strong> Can add, edit and delete datasets, filter 
      public and private datasets, as well as manage members and organizations.</p>
    <p><strong>Administrator :</strong> Can add, edit, publish, and delete datasets, 
      as well as manage members.</p>
    <p><strong>Analyzer:</strong> Can add and edit datasets, but not 
      manage members.</p>
    <p><strong>Internal:</strong> Can view public and private datasets, 
      but not add new datasets.</p>
    <p><strong>Default :</strong> Default role in the system can view public, but not private, 
      datasets</p>
    <p><strong>To request a role change, please contact the Living Laboratories Division :</strong>
	<a href="mailto:aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca">aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca</a>
	</p>
    {% endtrans %}

    {% endif %}
    {%if current_lang == "fr" %}
    {% trans %}

    <p><strong>Administrateur du système :</strong> Peut ajouter, éditer, supprimer et filtrer les jeux de données publics et privés, 
      ainsi que gérer les membres et les organisations.</p>
    <p><strong>Administrateur :</strong> Peut ajouter, éditer et supprimer des jeux de données, 
      ainsi que gérer les membres.</p>
    <p><strong>Analyseur :</strong> Peut ajouter et éditer des jeux de données, 
      mais pas gérer les membres.</p>
    <p><strong>Interne :</strong> Peut visualiser les jeux de données privées et publics, 
       ne peut pas ajouter de nouvelles données.</p>
	<p><strong>Default :</strong> Le rôle par défaut dans le système permet de visualiser des jeux de données publics, mais pas privés.</p>
    <p><strong>Pour demander un changement de rôle, 
      veuillez contacter la Division des laboratoires vivants:</strong>
	  <a href="mailto:aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca">aafc.datalivinglaboratoriesdonneeslaboratoiresvivants.aac@agr.gc.ca</a>
	  </p>
    {% endtrans %}

    {% endif %}

  </div>
</div>
{% endblock %}
