{% ckan_extends %}

{% block page_heading %}
  {{ _('Organization Datasets') }}
{% endblock %}


{% block page_primary_action %}
{#  {{ super() }} 

#}
{% if h.check_access('package_create',{owner_org:group_dict.id}) %}
    {% if h.check_visibility('group_dict.name') %}
      {% snippet 'snippets/add_dataset.html', group=group_dict.id %}
      {{ h.snippet ('snippets/add_geo.html', dataset_type=dataset_type) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block organization_facets %}

  <div class="filters">
    <div>
      {% snippet 'snippets/dataset_facets.html', organization_facet=h.snippet(
        'snippets/facet_list.html', title=c.facet_titles['organization'],
        name='organization', group_dict=c.group_dict)
      %}
    </div>

    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div>
{% endblock %}
