{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
  'name',
  'size',
  'character_set',
  'aafc_resource_metadata_schema',
  'description',
  'url',
  'format',
  ] -%}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block resource_additional_information_inner %}
  {% if res.datastore_active %}
    {% block resource_data_dictionary %}
      {{ super() }}
    {% endblock %}
  {% endif %}

  <div class="module-content">
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
      <tbody>
      {%- block resource_last_updated -%}
      {%- endblock -%}
      {%- block resource_created -%}
      {%- endblock -%}
      {%- block resource_format -%}
        <tr>
          <th scope="row">{{ _('Format') }}</th>
          <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
        </tr>
      {%- endblock -%}
      {%- block resource_license -%}
        <tr>
          <th scope="row">{{ _('License') }}</th>
          <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
        </tr>
      {%- endblock -%}

        {%- block resource_fields -%}
          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
      </tbody>
    </table>


  </div>
{% endblock %}
