{% ckan_extends %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/theme.min.css" />
  <noscript>  <link rel="stylesheet" href="/css/noscript.min.css" /></noscript>
  {% asset 'aafc/aafc_css' %}
{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}