{% ckan_extends %}
{% block styles %}
{{ super() }}

<style>

  img.imagerow:hover,
  img.imagerow:focus{
    
  
    border: 2px solid black;
    border-radius: 100px;

  
  
  }
  


 
</style>
<script>
  function myFunction(x) {
    if (x.matches) { // If media query matches
      var d = document.getElementsByClassName("breadcrumb");

      if (d[0] != null) {
        len = d[0].children.length;
        //iterate over <li> then first <a> of each <li>
        for (i = 0; i < len; i++) {
          d[0].children[i].children[0].style.color = '#000000';
        }
      }
    } else {
    }
  }

  var x = window.matchMedia("(max-width: 700px)")
  myFunction(x) // Call listener function at run time
  x.addListener(myFunction) // Attach listener function on state changes
</script>
<script src="{{ h.url_for_static('./resource/soyutils.js') }}"></script>

{% set current_lang = request.environ.CKAN_LANG %}
{%if current_lang == "fr" %}
<script src="{{ h.url_for_static('./resource/wet-fr.js') }}"></script>
{% else %}
<script src="{{ h.url_for_static('./resource/wet-en.js') }}"></script>




{% endif %}


<meta property="dcterms:title" content="{{ g.site_title }}" />

<noscript>
  <!-- Write closure fall-back static file -->
  <!-- /ROOT/app/cls/WET/gcweb/v4_0_32c/cdts/static/refTop.html -->
  <!--[if gte IE 9 | !IE ]><!-->
    <link href="{{ h.url_for_static('./resource/favicon.ico') }}" rel="icon" type="image/x-icon">

    <link rel="stylesheet" href="{{ h.url_for_static('./resource/theme.min.css') }}">
    <link rel="stylesheet" href="{{ h.url_for_static('./resource/ckanoverride.css') }}">

  <!-- Are you using the application templates? If so add the following CSS file -->
  <!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/cdts/cdtsapps.css">-->
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/assets/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32c/css/ie8-theme.min.css" />
    <![endif]-->
  <!--[if lte IE 9]><![endif]-->
  <link rel="stylesheet" href="{{ h.url_for_static('./resource/noscript.min.css') }}">
  <link rel="stylesheet" href="{{ h.url_for_static('./resource/cdtsnoscript.css') }}">


</noscript>
<!-- mark start: next script caused multiple ids. use generated code without id instead.    
<script src="https://kit.fontawesome.com/a1e46efb2b.js" crossorigin="anonymous"></script>
 mark end -->
 <link href="{{ h.url_for_static('./resource/free.min.css') }}" media="all" rel="stylesheet">
 <link href="{{ h.url_for_static('./resource/free-v4-shims.min.css') }}" media="all" rel="stylesheet">
 <link href="{{ h.url_for_static('./resource/free-v4-font-face.min.css') }}" media="all" rel="stylesheet" >


<!-- Write closure template -->
<script>
  function myFunction(x) {
    if (x.matches) { // If media query matches
      //var d = document.getElementsByClassName("toolbar .breadcrumb a");
      var d = document.getElementsByClassName("breadcrumb");

      if (d[0] != null) {
        len = d[0].children.length;
        //iterate over <li> then first <a> of each <li>
        for (i = 0; i < len; i++) {
          d[0].children[i].children[0].style.color = '#505050'; //$("ol[class='breadcrumb']")[0].style.color = '#FF00FF'
        }
      }
    } else {
      //var d = document.getElementsByClassName("toolbar .breadcrumb a");
      var d = document.getElementsByClassName("breadcrumb");

      if (d[0] != null) {
        len = d[0].children.length;
        //iterate over <li> then first <a> of each <li>
        for (i = 0; i < len; i++) {
          d[0].children[i].children[0].style.color = '#505050'; //$("ol[class='breadcrumb']")[0].style.color = '#FF00FF'
        }
      }
    }
  }

  var x = window.matchMedia("(max-width: 767px)")
  myFunction(x) // Call listener function at run time
  x.addListener(myFunction) // Attach listener function on state changes
</script>



{% endblock %}
{%- block title -%}
{%- block subtitle_2 %}{% endblock -%}
{%- if self.subtitle_2()|trim %} {{ g.template_title_delimiter }} {% endif -%}
{%- block subtitle %}{% endblock -%}
{%- if self.subtitle()|trim %} {{ g.template_title_delimiter }} {% endif -%}
{% set current_lang = request.environ.CKAN_LANG %}

{%if current_lang == "fr" %}
{{ "Portail de données des laboratoires vivants" }}{% else %}
{{ "Living Laboratories Data Portal" }}

{% endif %}

{%- endblock -%}
{% block scripts %}
{{ super() }}
{% endblock %}