{% block header_wrapper %} {% block header_account %}
<header class="account-masthead darkertop">
  <div class="newcolor">

    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
          </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        {% if "aafcesas" not in g.plugins %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endif %}
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        {% if "aafcesas" not in g.plugins %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %}
        {% endif %}
        {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</header>
{% endblock %}

<header class="navbar navbar-static-top masthead newcolor">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Controller : {{ c.controller }}<br />Action : {{ c.action }}</div>
  {% endif %} {% endblock %}
  <div class="container">
    <div class="row" id="header_row0">
      <div class="navbar-right"
        style="background-color:rgb(40,40,40);padding-top:3px;padding-bottom:3px;padding-left:9px;padding-right:9px;margin-right:7px">
        {% set current_lang = request.environ.CKAN_LANG %}
        <a href="/fr/util/redirect?url={% url_for h.current_url(), locale="en" %}" style="color:#fff" id="langEn"
          {%if current_lang == "en" %} class="hidden" {% endif %}>English</a>
        <a href="/en/util/redirect?url={% url_for h.current_url(), locale="fr" %}" style="color:#fff" id="langFr"
          {%if current_lang == "fr" %} class="hidden" {% endif %}>Français</a>
      </div>
    </div>
    
    <div class="row" id="header_row1">
      <div class="navbar-right" style="margin-right:2px">
    <!--
      <img src="/images/canadawithflag.png"></img> 
        <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed"
          type="button">
          <span class="fa fa-bars"></span>
        </button>
      -->
      </div>

      
      <hgroup class="{{ g.header_class }} navbar-left">
        {% block header_logo %} {% if g.site_logo %}
        {% set current_lang = request.environ.CKAN_LANG %}
        {%if current_lang == "en"%} {% set logo_img = "/images/favicon.ico" %}
        {% else %}{%set logo_img = "/images/favicon.ico" %} {% endif %}
        <a class="logo" href="{{ h.url_for('home.index.index') }}"><img src="{{ logo_img }}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" /></a>
        {% else %}
        <h1>
          <a href="{{ h.url_for('home.index.index') }}">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}
        <h2>{{ g.site_description }}</h2>{% endif %} {% endif %} {% endblock %}
      </hgroup>
    </div>
    <div class="row">
      <div class="navbar-left" style="color:white;font-size:30px;margin-top:10px;font-weight:700">
        {%if current_lang == "en"%} Living Labs {% else %} l'Living Labs {% endif %}

      </div>
      <div class="collapse navbar-collapse" id="main-navigation-toggle">
        {% block header_site_navigation %}
        <nav class="section navigation navbackground">
          <ul class="nav nav-pills">
            {% block header_site_navigation_tabs %}
            {{ h.build_nav_main( ('search', _('Datasets')), ('organization.index', _('Organizations')),('home.about', _('About')) ) }}
            {% if c.userobj %}
            <li><a class="dropdown-item" href="http://aafc.maps.arcgis.com/">ArcGIS Online</a></li>
            <li><a class="dropdown-item" href="http://aqrt.nrs.gov.bc.ca/">Aquarius</a></li>
            <li><a href="https://ec2-35-182-229-230.ca-central-1.compute.amazonaws.com">Data Storage</a></li>
            {% endif %}
            {% endblock %}
          </ul>
        </nav>
        {% endblock %} {% block header_site_search %}
        <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}"
          method="get">
          <div class="field">
            <label
              for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
            <input id="field-sitewide-search" type="text" class="form-control" name="q"
              placeholder="{{ _('Search') }}" />
            <button class="btn-search" type="submit"><i class="fa fa-search"  style="color:#000;"></i></button>
          </div>
        </form>
        {% endblock %}
      </div>
    </div>
  </div>
</header>
{% endblock %}