<script>
  document.write(wet.builder.refTop({
    "isApplication": true
  }));

  var timeout;



  function removeProgress() {

    if (document.getElementsByClassName("geomap-progress").length == 1) {
      document.getElementsByClassName("geomap-progress")[0].style.display = 'none';
      clearTimeout(timeout);
    }
  }

  function moveDown() {
    if (document.getElementsByClassName("geomap-help-dialog").length == 1) {

        clearTimeout(timeout);
      
    }
  }

  timeout = setTimeout(function () {
    removeProgress();
    moveDown();
  }, 2000);
</script>


{% block header_wrapper %} {% block header_account %}
{% if c.userobj %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
          </a>
        </li>
        {% set new_activities = h.new_activities() %}
        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
          %}
          <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
            <i class="fa fa-square" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
            <span class="badge">{{ new_activities }}</span>
          </a>
        </li>
        <li>
          <a href="{{ h.url_for(controller='user', action='index') }}" title="{{ _('All Users') }}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="text">{{ _('All Users') }}</span>
          </a>
        </li>
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        {% if "aafcesas" not in g.plugins %}
        <li>
          <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="text">{{ _('Log out') }}</span>
          </a>
        </li>
        {% endif %}
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}

        <a href="{{ h.url_for('/en/') }}" title="{{ _('Log in') }}">

          {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</div>
{% endif %}
{% endblock %}




<!-- Adjust the default language flip URL or remove this <section>
          <section id="wb-lng" class="text-right">
            <h2 class="wb-inv">Language selection</h2>
            <ul class="list-inline margin-bottom-none">
              <li><a lang="fr" href="[Default URL for language flip]">Français</a></li>
            </ul>
          </section>
            -->

<!-- Remove the whole <nav> if you want to disable breadcrumbs 
        <nav id="wb-bc" property="breadcrumb">
          <h2>You are here:</h2>
          <div class="container">
            <div class="row">
              <ol class="breadcrumb">
                <li><a href="#">[Insert breadcrumbs]</a></li>
              </ol>
            </div>
          </div>
        </nav> 
        -->
<div id="def-top">
</div>
{% set current_lang = request.environ.CKAN_LANG %}
{%if current_lang == "en" %}
<script>
  var defTop = document.getElementById("def-top");
  defTop.outerHTML = wet.builder.appTop({
    "appName": [{
      "text": "Living Laboratories Data Portal",
      "href": "{{ h.url_for('home.index') }}"
    }],
    "lngLinks": [{
      "lang": "fr",
      "href": "{% url_for h.current_url(), locale='fr' %}",
      "text": "Français"
    }],
    "search": true,
    "siteMenu": true,
    "menuPath": "{{ h.url_for_static('home/cdtsMenu-en.html') }}"
  });
</script>
{% endif %}
{%if current_lang == "fr" %}
<script>
  var defTop = document.getElementById("def-top");
  defTop.outerHTML = wet.builder.appTop({
    "appName": [{
      "text": "Portail de données des laboratoires vivants",
      "href": "{{ h.url_for('home.index') }}"
    }],
    "lngLinks": [{
      "lang": "en",
      "href": "{% url_for h.current_url(), locale='en' %}",
      "text": "English"
    }],
    "search": true,
    "siteMenu": true,
    "menuPath": "{{ h.url_for_static('home/cdtsMenu-fr.html') }}"
  });
</script>
{% endif %}







{% endblock %}