{% macro dataset2(activity) %}
{% set dataset_type = activity.data.package.type or 'dataset' %}
<span class="dataset">
	{{ activity.data.package.title if activity.data.package else _('unknown') }}
	{# object_id becausme may be out of date) #}
</span>
{% endmacro %}


<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  <i class="fa icon fa-sitemap"></i>
  <p>
   {% set is_sysadmin = c.userobj.sysadmin %}
   {% set data_display = ah.dataset(activity) if is_sysadmin else dataset2(activity) %}
    {{ _('{actor} deleted the dataset {dataset}').format(
      actor=ah.actor(activity),
      dataset=data_display
    )|safe }}
    <br />
    <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activity.timestamp) }}
    </span>
  </p>
</li>
